[2022-01-25 11:42] ZaikinaEvgeniya-2 commented on #3118
Any updates?

[code]
this code not working on mobile

[2022-01-25 11:55] beeb commented on #3616
Oh yes my bad, edited to reflect that.

[2022-01-25 12:06] alonNftrade opened #3636 "some images not showing on android app"
**Describe the bug**
some images are not showing on metamask android but showing on iPhone app.

**Screenshots**

![WhatsApp Image 2022-01-25 at 2 01 57 PM (1)](https://user-images.githubusercontent.com/94784334/150973808-672e9d5c-2bf3-4df3-831f-418a7f45a00f.jpeg)
![WhatsApp Image 2022-01-25 at 2 01 57 PM](https://user-images.githubusercontent.com/94784334/150973813-729b696f-3b0b-4918-bc63-430d417

[2022-01-25 13:37] gantunesr commented on #2522
Related #3583

[2022-01-25 14:03] gantunesr commented on #3586
Dupe of #3528

[2022-01-25 14:03] #3586 closed

[2022-01-25 14:28] plasmacorral commented on #3073
Observed on pixel 4a on Android 12 with the January 2022 security update, running wallet v3.8.0.  As @MicahZoltu suggested, it does seem to be related to "Remember me" being enabled.

[2022-01-25 14:53] gantunesr commented on #2679
Dupe of #2704

[2022-01-25 14:53] #2679 closed

[2022-01-25 15:01] Markkop commented on #2162
Same bug happening for me.
The best workaround I found was setting a cooldown variable to avoid triggering the event's method again.
However, when the user changes the account back to the one he loaded the page, the `accountsChanged` event is not triggered.
[code]

I tried using throttle functions, but they only delayed the second event firing.

[2022-01-25 15:10] Markkop commented on #2162
I was not able to try the build locally, but looking at the code perhaps this `forEach` is the culprit?
https://github.com/MetaMask/metamask-mobile/blob/3f9d91c60d090a8aa5bb35e44fb484148a7fc7fd/app/components/Views/BrowserTab/index.js#L364-L379

`notifyAllConnections` is being called here when changing accounts
https://github.com/MetaMask/metamask-mobile/blob/3f9d91c60d090a8aa5bb35e44fb484148a7fc7

[2022-01-25 15:49] rafagalan opened #3640 "window.ethereum not being injected, unusable dapp"
**Describe the bug**
window.ethereum is not being injected using the android app on a nuxt.js web app.

**Screenshots**
![image](https://user-images.githubusercontent.com/71089247/151009910-945bb0de-589d-4bbf-8bde-82bab9735b8e.png)

**To Reproduce**
Simply console.log(window.ethereum) on a nuxt app and open it with mm app in android.

**Smartphone (please complete the following information):**
 -

[2022-01-25 20:36] gantunesr commented on #2986
Hey @deewalkman, can you provide more details about this? can you attach a screenshot of the stucked tx?

[2022-01-25 20:53] gantunesr commented on #3498
If the conversion rates fails, show an information pop-up.

[2022-01-25 21:10] gantunesr commented on #3528
We're investigating the issue. **Don't re-install the app if you don't have your SRP** (Secret Recovery Phrase). If you do have your SRP, try re-installing the app and recovering your account.

[2022-01-25 21:39] sethkfman commented on #2723
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/MetaMask-Mobile-5f984938ddc0e4001d4b79cb/issues/MetaMask/metamask-mobile/2723?planning-poker) with ZenHub @blackdevelopa @cortisiko

[2022-01-25 22:32] cortisiko opened #3643 "[TypeError: contractBalanceForAddress.lt is not a function]"
**Describe the bug**

with my network set to ropsten (becuase i have funds on there)
when i go to the test dapp: https://metamask.app.link/dapp/metamask.github.io/test-dapp/
connect my wallet
scroll a little bit then tap on “create token”
submit the txn to create a token
wait until the tin is completed
when I tap on “transfer token”, the transfer CTA is not responsive.

I see this error:
` [TypeEr

[2022-01-25 23:57] gantunesr commented on #3098
Related to #3165

[2022-01-26 00:08] gantunesr commented on #3612
Figma: https://www.figma.com/file/EPL3Wae2YeVf8nnUWGy83E/Alert-icon

[2022-01-26 00:29] aliveli186 opened #3645 "Can not add auto/manually a network to MetaMask for iPhone"
MetaMask mobile doesn't support "wallet_addEthereumChain" method.
If you try to add the network manually it doesn't add the network either and there is no feedback of why it didn't add it, no error message.
The chain id I'm trying to add is: `31337` if it makes a difference.

[2022-01-26 07:08] leon-do opened #3646 "Browser Opens Multiple Tabs"
**Describe the bug**
_A clear and concise description of what the bug is_
Opening deep links with metamask mobile open multiple tabs.

**Screenshots**
_If applicable, add screenshots or links to help explain your problem_
https://user-images.githubusercontent.com/19412160/151118231-c70775e1-135e-4b1f-b2ed-d3cf561d0780.mp4

**To Reproduce**
_Steps to reproduce the behavior_
Please check video above

[2022-01-26 07:12] atifbuttgss commented on #3646
Yes, I am facing this issue as well. and i thought it is on ChainSafe end but its on Meta Mask's end.

[2022-01-26 10:55] Fatxx commented on #3610
This can't be fixed only in spot,  `StyledButton` needs to be refactored into a different component structure which breaks the component API.

Meaning that the actual `containerStyles` property doesn't make sense anymore when it's consumed in other components.

[2022-01-26 10:56] Fatxx commented on #3610
@Cal-L do you have in mind to refactor this component in the future? Or should we sit to find a final solution for this issue?

[2022-01-26 12:33] michaelvogt commented on #3021
Hit this problem also on Android.

[2022-01-26 13:34] gantunesr commented on #3646
Hey @leon-do,  thanks for reaching out, this is a dupe of #3525 and there's a fix in the PR #3570 which should be included in the following releases.

I'm closing this issue for the moment.

[2022-01-26 13:34] #3646 closed

[2022-01-26 13:56] gantunesr commented on #3611
@omnat Adding a dismiss button to solve this issue requires a lot of effort for a sev3 bug. @Fatxx recommends displaying the selected option as the first one as a simpler solution.

If someone else has a different idea please comment it in this issue.

[2022-01-26 14:09] moahammadalt commented on #2927
Same issue over here

[2022-01-26 14:12] gantunesr commented on #3522
hey @ncatnc, can you try with a debit or prepaid card?

https://docs.sendwyre.com/docs/card-processing-overview#limitations-and-considerations

[2022-01-26 14:43] gantunesr commented on #3541
Dupe of #3305

[2022-01-26 14:43] #3541 closed

[2022-01-26 18:25] jakehaugen commented on #3522
Since on-ramp is being redesigned soon I think we can try a simple copy fix for now. See the attached mock below.

This also addresses "Apple Pay" not being supported, but I am not 100% if that is true.

![image](https://user-images.githubusercontent.com/11967476/151223844-806617ed-04fb-4570-9731-9a5fbcb6adf4.png)

[2022-01-26 19:25] omnat commented on #3611
@blackdevelopa worked on this issue as well, tagging in case he did something else or has ideas. cc @mobularay

How would this fix the issue of users not being able to exit?

by dismiss button, you mean the cross on top right?

[2022-01-27 04:22] gantunesr commented on #3611
@omnat

Yes, since in android it's necessary for an user to select an option to close the currency list

Yes

[2022-01-27 04:26] omnat commented on #3611
Fatia and I synced earlier. Lets go with his suggestion

On Wed, Jan 26, 2022, 20:23 Gustavo Antunes ***@***.***>
wrote:

[2022-01-27 05:46] intergalacticspacehighway commented on #2045
Same issue. I am guessing most of the issues are happening due to using [older walletconnect client](https://github.com/MetaMask/metamask-mobile/blob/main/yarn.lock#L3060) in metamask (1.5.1). Lots of releases have [been made](https://github.com/WalletConnect/walletconnect-monorepo/releases). No PR links in release docs make it hard to track what's exactly fixed though. I can see @gantunesr workin

[2022-01-27 09:35] ValentinCPE commented on #2045
@intergalacticspacehighway Do you think it will be fixed quckly ?

[2022-01-27 11:44] Thaina commented on #1596
I too have a problem open firebase dynamic link or any deep link in metamask

![image](https://user-images.githubusercontent.com/1042507/151345167-6871991a-6184-42da-ba52-d948f9658c29.png)

Even the firebase dynamic link actually use `intent://` url scheme so it become broken when metamask cannot handle it. This very much decrease metamask app usability for other dapp

I think the solution is that

[2022-01-27 11:51] #3609 closed

[2022-01-27 11:52] #3612 closed

[2022-01-27 11:54] gantunesr commented on #2045
Hey @intergalacticspacehighway and @ValentinCPE, you can follow the current work related to WC in the issues #3581 and #3583.  And the PRs #3637 and and #3627.

[2022-01-27 16:09] Thaina commented on #1596
Further investigation seem to be the reactnative itself not handle the `intent://` url scheme

https://github.com/facebook/react-native/pull/31836

So we could try to make the reactnative team to fix this then wait metamask to rebuild a new version. Or metamask might try to handle `intent:` scheme with the intent URL parser in the mean time ?

[2022-01-27 16:26] omnat commented on #2049
@mrenoon Adding it to product backlog, to prioritize it for the coming months.

[2022-01-27 17:47] Thaina commented on #1596
Another thing I would like to be considered

Given that firebase dynamic link, `$projectname$.page.link`, has this domain pattern and normal browser could handle this link. Maybe it would be better to detect `.page.link/` in url and use `Linking.openURL` for this domain (with `onShouldStartLoadWithRequest` ?)

[2022-01-27 23:48] Fatxx commented on #2984
@cortisiko

I can't reproduce this on iPhone 11 Pro Max, iOS 15.2.1 in the current main branch (v4.0.0)

[2022-01-28 14:16] gantunesr commented on #3522
Wdyt @omnat?

[2022-01-28 14:22] Fatxx commented on #3522
@jakehaugen can we also add that only MasterCard and Visa are accepted?

[2022-01-28 15:26] gantunesr commented on #3039
cc @Fatxx

[2022-01-28 15:34] gantunesr commented on #2833
Hey @ghRegEdit, I'll close this issue since the mobile sync feature is disabled temporarily due to security concerns

[2022-01-28 15:34] #2833 closed

[2022-01-28 15:47] jakehaugen commented on #3522
How about this?

![image](https://user-images.githubusercontent.com/11967476/151577708-02ea9916-5c39-443c-9627-41974dbb1f2d.png)

[2022-01-28 23:05] cortisiko opened #3661 "Auto detection fails to reimport after token/NFT was deleted."
**Describe the bug**
If I were to:
toggle on NFT or token detection so my assets are imported
toggle off NFT or token detection
remove the imported NFT(s) or token(s)
toggle on NFT or token detection
the NFTs/tokens are not reimported.

**Screenshots**
See token detection [here](http://recordit.co/R0whVpQ32H)
See NFT detection [here](http://recordit.co/57DST1U3gH)

**Smartphone (please complete th

[2022-01-29 15:15] artk47 commented on #1025
That's strange still on hold...
The convenience and security of users using extension would skyrocket thanks to view-only accounts! While doing signature using WalletConnect from SecureEnclaved mobile - is clear and intuitive. Why it is still missing? That threats active users security

[2022-01-29 15:59] thirdprize commented on #1025
From a mobile perspective, I would just like to be able to get the users Eth address from the mobile app to use in my app.

[2022-01-29 18:54] levin222 commented on #3528
I have the same error now !!!

[2022-01-29 19:04] levin222 commented on #3528
ios 15.2
iphone13
v 4.0.0

[2022-01-29 19:36] levin222 commented on #3528
update to ios 15.3, it still don't work PLS fix it as soon as possible

[2022-01-30 17:56] marbs99 commented on #2929
please a complete code. Thanks alot

[2022-01-30 22:07] levin222 commented on #3528
Is there any way to solve this issue soon？ like a testflight version.

[2022-01-31 07:26] quangvinh-fetchtech commented on #3528
I am waiting for the fix. I can't remember the `secret recovery phrase`. I lost all my token.

[2022-01-31 12:57] EmtMeshal opened #3665 "Always my contracts are interrupting."
Hello team,
I can see a lot of contracts in my BSCscan and some of it I thought it’s aridrop to me and I posted in my wallet, later in many times I can’t receive any rewards from my NFT’s
I lost a lot of money because of that & i can’t stop it.
Please Advice.

Device: iPhone: 11 vision: 15.1
Wallet: MestaMask vision: 4.0.0
My wallet address:

0x8B627e989AF441186676428120505a73B8cf6DB2

![A6932925-

[2022-01-31 15:25] levin222 commented on #3528
Update to v4.0.1, still fail to open

[2022-01-31 15:46] Fadeli16 commented on #3528
How much your balance guys? My balance in error metamask 10k$ and still cant open the apps ;(

[2022-01-31 16:27] mobularay opened #3666 "2022 Q1 - Mobile Bug World"

[2022-01-31 17:04] skyrover7 commented on #2725
Just my $0.02 on this.

* I have been using deeplinks created by [this generator](https://metamask.github.io/metamask-deeplinks/#) in a react web app for a few months now. It did not properly work before and it seems in recent changes does not even work to the extent it used to.
* Previously, on mobile, we would direct the user to the deeplink which would open up Metamask. However if the app was s

[2022-01-31 17:11] andrepimenta opened #3667 "[SDK] Research Waku"

[2022-01-31 17:12] andrepimenta opened #3668 "[SDK] Research WalletConnect 2"
Write a list of questions for the WC2 meeting

[2022-01-31 17:38] Cal-L opened #3669 "Set up metamask-design-token repository"
# Description
- Create and set up design token repository to hold shared library that will be utilized by both extension and mobile component systems

# Technical Details
- [ ] Create new repository named `metamask-design-tokens`
- [ ] Set up codebase to initially expose colors. Nice to have: expose typography and spacing

# Acceptance Criteria
- Ability to utilize design tokens in component syste

[2022-01-31 17:44] mobularay commented on #3444
@omnat to sync with @kevinghim on where Extension team is at with this work. No work needs to be done yet

[2022-01-31 19:32] #3003 closed

[2022-01-31 19:54] oussamaBGZ opened #3671 "Err converting from cake to dollars"
![407406B0-28FD-43C1-9EF8-489DCB710121](https://user-images.githubusercontent.com/30552331/151862930-fad53783-51bf-499f-8df0-bb44e537e0fe.png)

err converting cake price to dollars

[2022-02-01 00:40] Cal-L commented on #3669
Issue moved to [MetaMask/metamask-design-tokens #4](https://github.com/MetaMask/metamask-design-tokens/issues/4) via [**ZenHub**](https://www.zenhub.com/)

[2022-02-01 00:40] #3669 closed

[2022-02-01 00:41] Cal-L commented on #3603
Issue moved to [MetaMask/metamask-design-tokens #5](https://github.com/MetaMask/metamask-design-tokens/issues/5) via [**ZenHub**](https://www.zenhub.com/)

[2022-02-01 00:41] #3603 closed

[2022-02-01 00:43] Cal-L commented on #3602
Issue moved to [MetaMask/metamask-design-tokens #6](https://github.com/MetaMask/metamask-design-tokens/issues/6) via [**ZenHub**](https://www.zenhub.com/)

[2022-02-01 00:43] #3602 closed

[2022-02-01 04:31] levin222 commented on #3528
I have 5k$. But I need to Ido at 3     Feb

[2022-02-01 15:35] kkagill opened #3675 "Browser not recognizing localStorage on iOS"
### **Description**

Our Dapp sets localStorage value for authentication check, but seems like metamask mobile app on iOS does not keep localStorage value. Confirmed it's working on Android. Is this a known case?

### **Technical Details**
We set value via `localStorage.setItem('walletId', walletId)`
but cannot read the value with `const wallet = localStorage.getItem("walletId");`

[2022-02-01 17:41] Fatxx commented on #2313
@Rodri-R can you please update to the latest version of MetaMask?

[2022-02-01 17:45] Fatxx commented on #3113
Fixed at #3290

[2022-02-01 17:52] Fatxx commented on #3337
Closed at #3338

[2022-02-01 17:52] #3337 closed

[2022-02-01 17:55] Fatxx commented on #2081
Fixed at #3538

[2022-02-01 18:03] Fatxx commented on #3149
@trx2042 does this happens on MetaMask Mobile? Do you have steps to reproduce?

[2022-02-01 18:09] Fatxx commented on #2398
Related with #3222

[2022-02-01 18:10] plasmacorral opened #3677 "Enable CTA even if "new password" and "confirm password" do not match"
**Describe the usability problem**
The "Create password" CTA is not usable until the passwords match.  This can create a poor experience if mismatched passwords are provided.  With the CTA disabled, no error messages are presented to help the user remediate and move forward.  This may be related to changes made here: https://github.com/MetaMask/metamask-mobile/pull/1856

**Screenshots**
Mismatched

[2022-02-01 18:13] Fatxx commented on #3571
Close because of inactivity and no additional information.

[2022-02-01 18:13] #3571 closed

[2022-02-01 18:30] Fatxx commented on #3515
Hey @Sudhanmanoharan, we currently don't support OAuth authentication on MetaMask Mobile Browser.

We're improving our wallet connect support when that's ready you can redirect your users to use the normal browser and you can integrate Wallet Connect to connect with MetaMask.

[2022-02-01 19:55] leon-do opened #3678 "Android 12 Does Not Deep Link"
**Describe the bug**
_A clear and concise description of what the bug is_
Deep linking using android 12 does not link to browser in metamask mobile.
Note: This works for android 11 and below.

**Screenshots**
_If applicable, add screenshots or links to help explain your problem_

https://user-images.githubusercontent.com/19412160/152041200-00c3021a-f3e6-4506-bd02-be83713a87f3.mov

**To Reproduce**

[2022-02-01 20:01] EmtMeshal commented on #3665
And now hackers has been stolen my tokens.
I asked for help but no body see me.
😭

[2022-02-01 20:14] EmtMeshal commented on #3665
@mcmire @segun @darkwing @jknoll

[2022-02-02 00:27] dspencer926 opened #3681 "NFT Collection logo not appearing"
### **Description**

I can't figure out how to display a logo for an NFT collection; instead I get a gray box with the first letter of the name of the collection.  I've looked through some of the MM code and it looks like the image url is coming from a field called `logo`.  I've tried putting a field `logo` in the metadata for the collection, linking to a file on IPFS, but it still doesn't work.

[2022-02-02 18:28] gantunesr commented on #3678
Hey @leon-do, this is a dupe of #3534 and there's a fix in the PR #3570. This will probably be included in the next release.

I'll close this issue for the moment. Thanks for reporting!

[2022-02-02 18:28] #3678 closed

[2022-02-02 18:53] leon-do commented on #3678
thank you @gantunesr

[2022-02-02 19:20] ion-girloanta commented on #2637
Same problem here.

[2022-02-02 19:40] omnat commented on #3615
Thanks for raising this @rygo6
This has been a topic of discussion internally, and something that we are researching actively.
The over reliance on OpenSea API has been a concern for a while. We are looking into how we can decentralize our NFT data consumption. Added the NFT indexer you shared to include in our research.

Meanwhile, with the latest app version, NFT auto-detection is turned off. Yo

[2022-02-02 20:04] gantunesr commented on #3681
Hey @dspencer926, currently the logo url is being fetched from the OpenSea API, the reason for this is because NFTs have only a basic metadata structure that is defined in the [EIP](https://eips.ethereum.org/EIPS/eip-721#specification) and we can trust that most developer will use that structure, so the app only gets the name, description, symbol, and asset url (image) from the blockchain. This is

[2022-02-02 22:48] Nzenou commented on #3578
Do you know when you going to deploy this feature on  polygon matic ?

Thanks in advance

[2022-02-02 23:28] cortisiko opened #3684 "TypeError: undefined is not an object (evaluating 'u.transaction.nonce')"
**Describe the bug**
I receive an alert message with `TypeError: undefined is not an object (evaluating 'u.transaction.nonce')` when the approval modal appears.

**Screenshots**
_If applicable, add screenshots or links to help explain your problem_

**To Reproduce**

1. Using the test account I followed the paper trail: https://consensys.slack.com/archives/G8RSKCNCD/p1643832754695509?thread_ts=164

[2022-02-03 01:18] gantunesr commented on #3578
Hey, we don't have a defined timeline for this enhancement yet

[2022-02-03 01:24] gantunesr commented on #3661
@cortisiko this is the expected behaviour at the moment, I'm not sure if the NFT privacy feature should make it behave differently.

If you delete a NFT, this is added to an "ignore list" so the NFT is not being autodetect right away after the deletion. I'm pinging @omnat and @sethkfman here to know if we want to clear this "ignore list" when the toggle switches from OFF to ON.

[2022-02-03 01:32] omnat commented on #3661
I wouldn't clear this list. If the user ignored/deleting an NFT, we should respect that intention irrespective of autodetect preference. Until they custom import this NFT from the custom import form, let's keep the assets in the "ignore list".
Wdyt?

[2022-02-03 12:07] gantunesr opened #3686 "Hardware Wallets"
This Epic represents the work around integrating hardware wallets support into the mobile codebase

[2022-02-03 12:09] gantunesr opened #3687 "PR Review: Connect Keystone Wallet w/ MMM"

[2022-02-03 12:11] gantunesr opened #3688 "PR Review: Integrate metamask-airgapped-keyring into KeyringController"

[2022-02-03 17:02] eshaben commented on #2927
same issue, please fix! 🙏

[2022-02-03 21:30] cortisiko commented on #2984
Agreed @Fatxx , I can no longer reproduce this. Feel free to close.

[2022-02-03 21:39] #2984 closed

[2022-02-03 22:03] #3643 closed

[2022-02-04 16:18] dspencer926 commented on #3681
Thanks for your response @gantunesr!  I should have added more details.  I have a metadata file on ipfs in the following format as specified in the OpenSea documentation (https://docs.opensea.io/docs/contract-level-metadata)

[code]
And I've attempted to link my contract to this json file by adding a contractURI function that returns the link to that file.

When I hit the endpoint https://api.open

[2022-02-04 19:20] #3134 closed

[2022-02-04 19:48] #3537 closed

[2022-02-04 20:19] #3557 closed

[2022-02-05 05:24] georgewrmarshall opened #3693 "Color Rules for Overlay Alert Component"
## Description
Update overlay colors to adhere to convention rules and to also meet requirements for contrast and what draws the eye more in darkmode.

## Technical Details
TBC

## Acceptance Criteria
TBC

[2022-02-05 12:54] aoudiamoncef opened #3694 "Exception in create password screen"
**Describe the bug**
When I try to create a password which is very long, I got:

Error: I/O error: javax.crypto.IllegalBlockSizeException: input must be under 384 bytes

**To Reproduce**

1. Go to create password screen
2. Write your 200 characters password
3. See error

**Expected behavior**
_ We should got a clear error message :

password must have maximum length of xxx characters.

**Smartphon

[2022-02-05 13:42] #3597 closed

[2022-02-05 19:20] EpicWebs commented on #3278
Maybe need to add:

thirdPartyCookiesEnabled={true}
sharedCookiesEnabled={true}

https://github.com/MetaMask/metamask-mobile/blob/375f742331b66f008b74b0436230e16b7ff1a1df/app/components/Views/BrowserTab/index.js#L1555

?

[2022-02-07 01:16] gantunesr commented on #3677
@omnat this is an interesting point that @plasmacorral is raising here, wdyt?

[2022-02-07 01:20] gantunesr commented on #3681
@dspencer926 can you share with me the address of the collectible?

The app is fetching the logo from the collection object, the key in this case would be `image_url`, you can see this change in the [Controllers PR #628](https://github.com/MetaMask/controllers/pull/628/files#:~:text=image_url%3A%20string%20%7C%20null%3B-,collection%3A%20%7B,%7D%3B,-%7D)

[2022-02-07 03:29] anxiubin opened #3697 "MetaMask Mobile build error when running yarn start:ios"
## Describe the bug
An Error is occured when running `yarn start:ios` for MetaMask Mobile
How can I build without errors?
I would appreciate a little bit of help.

## Error messages
[code]

[2022-02-07 07:17] anxiubin commented on #3629
params should be **Array**.

[code]

[2022-02-07 07:36] alexdupre commented on #3629
Sorry, it's an error in the extracted snippet, it is indeed an Array and it's not working. The same code in fact works in metamask extension.

[2022-02-07 08:40] anxiubin commented on #3629
is there any log or whatever? In my dapp, the api works well on the metamask mobile app.

[2022-02-07 08:48] alexdupre commented on #3629
Try opening [https://ftso.alexdupre.com/](https://ftso.alexdupre.com/) and check if it asks to add the network. You should see that it works with metamask extension and not with metamask mobile.

Debugging metamask mobile seems a hard task.

[2022-02-07 09:10] anxiubin commented on #3629
Maybe you should remove the code `if (switchError.code === 4902) {` in the function `setupNetwork` as [this issue](https://github.com/MetaMask/metamask-mobile/issues/3312).
Try this!

[2022-02-07 10:22] alexdupre commented on #3629
I confirm it is indeed an error related on the returned error code, that is not `4902` but `-32603` on metamask mobile

[2022-02-07 10:22] #3629 closed

[2022-02-07 10:23] alexdupre commented on #3312
Metamask mobile returns a generic code `-32603`, instead of `4902` as MM extension :-(

[2022-02-07 10:38] Cal-L opened #3698 "[DARK MODE] Foundation"
# Description
- Implement ability to switch between default (light), dark, and system themes

# Technical Details
- [ ] In-app theme state should be stored in redux
- [ ] Utilize React Native's Appearance API to access system theme
- [ ] Use Context API to provide and consume colors within screens and components

# Acceptance Criteria
- Ability to switch between in app and system theme
- Theme sho

[2022-02-07 12:49] gantunesr commented on #3684
@cortisiko can you check this in the current main branch, this could have been solved in teh commit [191fb0f2183fd1d908c226b36158ea0ed7642e4c](https://github.com/MetaMask/metamask-mobile/commit/191fb0f2183fd1d908c226b36158ea0ed7642e4c)  cc @andreahaku

[2022-02-07 17:56] omnat commented on #3684
@andreahaku fixed this with above & is merged, so moving to Done

[2022-02-07 17:56] #3684 closed

[2022-02-07 19:44] SaraCheikh opened #3702 "Grids"

[2022-02-08 00:48] akegaviar opened #3704 "MetaMask suggests gas fees too high when using Coinbase QR"
**Describe the bug**
When generating a QR code with [Coinbase Commerce](https://commerce.coinbase.com/) and using it with MetaMask Mobile, MetaMask Mobile suggests the gas fees that are x10+ higher than what they should be.

**Screenshots**

When pulling from a Coinbase Commerce generated QR code:
![QR](https://user-images.githubusercontent.com/10195782/152896159-2e3f0ef6-b371-403c-b820-15e6e8e51c

[2022-02-08 01:56] Cal-L opened #3705 "[DARK MODE] Onboarding"
### **Description**

Implement dark mode for Onboarding flow

### **Technical Details**

-  Update all onboarding screens to use theme from context

### **Acceptance Criteria**

- Onboarding screens should support dark mode
- Check screens such as Import SRP, Create Wallet, etc

[2022-02-08 02:53] Cal-L opened #3707 "[DARK MODE] Settings"
### **Description**

Implement dark mode for Settings flow

### **Technical Details**

-  Update all settings screens to use theme from context

### **Acceptance Criteria**

- Settings screens should support dark mode
- Check screens such as General, Advanced, Contacts, etc

[2022-02-08 02:55] Cal-L opened #3708 "[DARK MODE] Swaps"
### **Description**

Implement dark mode for Swaps flow

### **Technical Details**

-  Update all swaps screens to use theme from context

### **Acceptance Criteria**

- Swaps screens should support dark mode
- Check screens swaps screens, etc

[2022-02-08 02:57] Cal-L opened #3709 "[DARK MODE] Send"
### **Description**

Implement dark mode for Send flow

### **Technical Details**

-  Update all send screens to use theme from context

### **Acceptance Criteria**

- Send screens should support dark mode
- Check screens send screens, etc

[2022-02-08 03:00] Cal-L opened #3710 "[DARK MODE] Import Assets"
### **Description**

Implement dark mode for Import assets flow

### **Technical Details**

-  Update all import assets screens to use theme from context

### **Acceptance Criteria**

- Import asset screens should support dark mode
- Check screens Import Tokens, Import NFT, etc

[2022-02-08 04:00] omnat commented on #3677
@plasmacorral Is the point you are stressing on about the CTA not enabled or limited error message when passwords don't match?
What's the error message when passwords don't match (with same length inputs)?

If the former, I think it's OK to keep it disable till there's a match - to show when the user can proceed to the next step.

[2022-02-08 09:39] KakaoTocs opened #3711 "How to open "MetaMask" app on iOS app"
#Description
I want to add an address to the app only if the user is the owner of the wallet through the MetaMask App.
I want to bring only the NFT list owned by the user.
So I want to open the MetaMask app on my app and get the address.
(Because the owner of the wallet can say that he brought the address through the MetaMask app.)

[2022-02-08 12:47] tradephonic commented on #3417
Same issue, is anyone looking at this?

[2022-02-08 14:53] gantunesr commented on #3385
Fix in #3685

[2022-02-08 14:56] gantunesr commented on #3382
Hey @afiiijooon, is this still happening in the last release?

[2022-02-08 15:15] gantunesr commented on #3326
Partially fixed in #3664.

[2022-02-08 15:22] gantunesr commented on #3309
hey @4skinSkywalker, can you check if this is happening in the last release?

[2022-02-08 17:50] jsolderitsch commented on #3522
Note: I am having this issue currently using the 4.0.1 version of the iOS app. My Apple Pay linked card is a Visa Debit card. I am in Pennsylvania. I repeatedly get Failed transactions with no error. I have spoken to customer service at my Bank and they do not see any declined processing transaction on their end. Before I experienced this error I tried to buy ether via Wyre from the Chrome Metamas

[2022-02-08 17:53] levin222 commented on #3528
Is that the data files lost finally?

[2022-02-08 18:28] #2557 closed

[2022-02-08 18:28] #2836 closed

[2022-02-08 20:16] omnat commented on #3545
@bschorchit Will update when this story is ready for work - finalizing a design component
@blackdevelopa ^

[2022-02-08 22:02] bschorchit commented on #3545
If the network already has been added, it should not appear on add network list. So this might not be needed, @omnat.

[2022-02-09 00:40] gantunesr commented on #3306
hey @az1az1, is this still an issue in the last version?

[2022-02-09 00:42] #3187 closed

[2022-02-09 00:49] #2848 closed

[2022-02-09 01:19] XyzAla opened #3713 "pod install error"
### **Description**

pod install results in error '[!] Unable to install vendored xcframework `OpenSSL` for Pod `OpenSSL-Universal`, because it contains both static and dynamic frameworks.'

[2022-02-09 01:37] gantunesr commented on #2197
Hey @bpriddy, is this still an issue in the latest release?

[2022-02-09 04:03] Cal-L opened #3716 "[DARK MODE] Buy & Receive"
### **Description**

Implement dark mode for Buy & Receive flow

### **Technical Details**

-  Update all buy and receive screens to use theme from context

### **Acceptance Criteria**

- Buy and receive screens should support dark mode

[2022-02-09 04:37] KakaoTocs commented on #3711
@Cal-L Can you help me?

[2022-02-09 07:32] Cal-L opened #3719 "[DARK MODE] Drawer"
### **Description**

Introduce dark mode to Drawer and drawer related screens

### **Technical Details**

- Add dark mode to Drawer and any screens the drawer has access to such as Wallet, Browser, and Activity

### **Acceptance Criteria**

- Screens listed above should update when switched to dark mode

[2022-02-09 12:05] larry82 opened #3722 "wallet_watchAsset not working on mobile but works at browser extension"
**Describe the bug**
wallet_watchAsset not working on mobile but works at chrome-extension
here is the code

[code]

**Screenshots**
I print out the value of "wasAdded" object

![photo_2022-02-09_19-58-59](https://user-images.githubusercontent.com/15089799/153196881-1626774c-8301-493a-b8e8-fb9b5f603134.jpg)
![IMG_3176](https://user-images.githubusercontent.com/15089799/153197015-951e27b3-8ecc-457e

[2022-02-09 14:53] zadmarbella commented on #3588
Would something like this help?
https://github.com/0xProject/provider-engine

[2022-02-09 16:20] Valentin-Seehausen commented on #2332
Is there any response to this? I would like to use the .xyz domain for my crypto project.

Or is there any fix?

[2022-02-09 17:51] #3525 closed

[2022-02-09 17:51] #3534 closed

[2022-02-09 19:22] christopher-siegel commented on #1237
Any updates on this?
It's frustrating to have a Ledger Nano X and not be able to use it with MetaMask.

I'd rather have this feature than a dark mode!
Hope this is still being developed, let the community support it if needed

[2022-02-09 20:56] georgewrmarshall opened #3727 "[DARKMODE] Create png versions of the background onboarding images"
# Description
A few onboarding screens currently use jpg background images with a white background. This will not work when the theme is changed to darkmode and the default text is white.

# Technical Details
- Use the [Figma File](https://www.figma.com/file/h5FawCpd949EjiXzLU1j8h/Mobile-Onboarding-Carousel?node-id=46%3A0) to create png versions of the background onboarding images

# Acceptance Cr

[2022-02-10 02:39] anxiubin commented on #3722
That is a bug for now. Maybe the issue will be fixed soon,  I guess.
Look at link below.

https://github.com/MetaMask/metamask-mobile/issues/3376
https://github.com/MetaMask/metamask-mobile/issues/3376

[2022-02-10 07:45] maxximee commented on #3678
following this, would love this to work again.

[2022-02-10 13:47] #3667 closed

[2022-02-10 13:47] #3668 closed

[2022-02-10 16:23] mickeymond commented on #3546
@gantunesr I am adding this here because I thought it is an observation I made that will be useful to resolve this issue but if it is not prompt me or remove it.

I am using Metamask Mobile v4.0.1(814) at the moment.
- Following a Deep Link **for other RPC Networks that I manually added** automatically switches the network if even the network specified in the Deep Link is not the one already selec

[2022-02-11 00:44] ivomarsan commented on #1237
It'll be a great feature. I love swap $BNB to $ECOIN in my Chromebook or Laptop, but I cant do this in my smartphone.

Either readonly mode it will be great as well. Just for watch my crypto assets in Metamask

[2022-02-11 01:12] ivomarsan commented on #1237
Trust Wallet has a feature to add just bscscan address to readonly. It will be perfect for now in Metamask

[2022-02-11 01:21] ivomarsan commented on #1025
The Trust Wallet provides the Watch-only feature. Today I just use Trust Wallet in Smartphone for this feature unfortunately.

Metamask please, add watch-only feature in iOS

[2022-02-11 05:34] chiragnahata commented on #2112
Same issue here

[2022-02-11 06:09] HarshalKudale commented on #3258
Getting Same Issue with my react website. But in my case it only fails when using react router Dom. When I am on homepage I get window.ethereum as true but when I am on routed urls (eg.domain.com/id/2) then window.ethereum becomes false. Works on desktop.

[2022-02-11 13:40] #3119 closed

[2022-02-11 23:21] cquex commented on #3258
Hi ! you need to open your website in the explorer of metamask, and metamask mobile needs to be an https sites, i published my website and configure https on my host. That solves my issue, to connect metamask on mobile.

[2022-02-12 02:44] tommasini commented on #2784
I couldn't replicate the bug.

What I did :

- I created two accounts in the Rinkeby Test Network
![image](https://user-images.githubusercontent.com/46944231/153693608-d7bf747d-6de5-4324-be2b-16b8f36f1475.png)

- On https://testnets.opensea.io/, I bought a Token, the Token Standard was ERC-721 in the Rinkeby blockchain with one of my accounts.

- I imported them to my account Metamask Wallet for I

[2022-02-12 14:40] matteocasonato opened #3735 "Connect Metamask with a native mobile app built with Flutter"
Hi everyone. I've been researching a lot online but I can't figure out how to perform a connection between a Mobile app (which we're building with Flutter) and Metamask.

Connecting with a blockchain isn't a problem, I just have to figure out how to take private keys from a Metamask account in order to interact with the chain (for know I'm using a private key imported manually, but would be great

[2022-02-12 17:32] Fatxx commented on #3305
This is fixed in the latest version, please reopen if it still happens to you.

[2022-02-13 07:37] tommasini commented on #2784
Anyone know how could I replicate this error? @gantunesr

[2022-02-13 09:13] Garito commented on #2784
6 months latter and some updates and now you are interested on this?
what a joke

[2022-02-13 18:42] gantunesr commented on #3615
I'll close this issue for now, please open a new one if have further questions

[2022-02-13 18:42] #3615 closed

[2022-02-13 18:57] gantunesr commented on #2784
@tommasini as the issue indicates, the problems occurs when the tx fails. The app currently removes the collectible when the tx is submitted, it should wait for it to be confirmed before removing the collectible

[2022-02-14 05:29] ulyanas commented on #3645
Issue still reproduces

[2022-02-14 13:11] gantunesr commented on #2753
Hi @bigchiano, this issue should be fixed in the latest release. Please open a new issue if the bug persists.

[2022-02-14 13:11] #2753 closed

[2022-02-14 13:14] gantunesr commented on #2835
Hey @ThrownLemon,  the RPC methods `wallet_addEthereumChain` and `wallet_switchEthereumChain` are supported in the latest release. Open a new issue if you find any bug related to those methods.

[2022-02-14 13:58] gantunesr commented on #3578
I have included this to our discussion around the collectibles feature. I'll close this issue for now and open a new one with the corresponding development.

[2022-02-14 13:58] #3578 closed

[2022-02-14 16:17] gantunesr commented on #2967
I'll close this issue for the moment since it's necessary a refactor of the app architecture to solve this issues

[2022-02-14 16:17] #2967 closed

[2022-02-14 16:23] gantunesr commented on #3722
Fix in PR #3685

[2022-02-14 17:12] #3681 closed

[2022-02-14 19:18] omnat commented on #3545
@bschorchit Will update the ticket with final copy and a design update (adding an icon for some networks) tomorrow (15th Feb) cc @blackdevelopa

[2022-02-14 21:56] sethkfman commented on #3545
@blackdevelopa Link to all network data: https://www.notion.so/I-want-to-be-able-to-add-a-popular-custom-network-from-the-custom-network-switcher-modal-7f8c0ae131ea443694396bbf1a36aa1e#8df62328b969482482ef9f97982ee8d1

[2022-02-14 23:49] chrisleewilcox commented on #3611
Do we know the specific mobile device that was having this issue?  I have a Samsung A42 Android and it has standard UI controls at the bottom of the screen that allow to go back to previous screen and it works fine on the currency picker select view. Regardless the selected currency is defaulting to the top of the picker component.

[2022-02-15 03:28] gantunesr commented on #2313
Hi @Rodri-R, I'll close this issue for the moment, please open a new one if this problem persists

[2022-02-15 03:28] #2313 closed

[2022-02-15 03:38] gantunesr commented on #3306
@az1az1 can you provide more details about this issue? like device OS, app version, steps to reproduce, and the dapp you're interacting.

[2022-02-15 03:40] #3048 closed

[2022-02-15 09:21] pozniejzmienie commented on #3735
Hi, I have the same problem. Stuck with researching more data for opening Matamusk app and auto sync wallets. Which packages did you use for blockchain connection inside Flutter Mobile? Have you thought about something like external_app_luncher https://pub.dev/packages/external_app_launcher?

[2022-02-15 09:37] andrepimenta commented on #3588
Closing this for now to accommodate new priorities

[2022-02-15 09:37] #3588 closed

[2022-02-15 09:37] andrepimenta commented on #3589
Closing this for now to accommodate new priorities

[2022-02-15 09:37] #3589 closed

[2022-02-15 09:37] matteocasonato commented on #3735
Hi! Yesterday I managed to make the connection using https://pub.dev/documentation/walletconnect_dart/latest/. As they suggest, you should also use https://pub.dev/packages/url_launcher.

Basically you should launch the uri (in the format wc:00e46b69-d0cc-4b3e-b6a2-cee442f97188@1?bridge=https%3A%2F%2Fbridge.walletconnect.org&key=91303dedf64285cbbaf9120f6e9d160a5c8aa3deb67017a3874cd272323f48ae) whe

[2022-02-15 09:37] andrepimenta commented on #3590
Closing this for now to accommodate new priorities

[2022-02-15 09:37] #3590 closed

[2022-02-15 09:38] andrepimenta commented on #3591
Closing this for now to accommodate new priorities

[2022-02-15 09:38] #3591 closed

[2022-02-15 09:39] andrepimenta opened #3746 "MetaMask Connect"

[2022-02-15 09:40] #3177 closed

[2022-02-15 09:45] andrepimenta opened #3748 "Decouple UI from the “active account”"
We will be using the connected account which is different for each connected dapp

- Start with dapp requests:
   - Send transaction
   - Sign
   - Others
- Example
   - Dapp uniswap.exchange requests
   - eth_sendTransaction
   - Params: [txParams, FROM account]
   - Compare FROM account === connected account (we can put it as a constant)
   - If they are the same then requests popup appears

[2022-02-15 09:46] andrepimenta opened #3749 "[MetaMask Connect] Browser UI / MetaMask Connect Screen"

[2022-02-15 09:46] andrepimenta opened #3750 "[MetaMask Connect] Other Browser UI"

[2022-02-15 13:24] #3542 closed

[2022-02-15 14:46] #3039 closed

[2022-02-15 14:58] gantunesr commented on #3331
Internal conversation:https://consensys.slack.com/archives/CBW7S9FSN/p1638820384468400?thread_ts=1638810018.460500&cid=CBW7S9FSN

[2022-02-15 15:04] gantunesr commented on #3326
Hey @anthonygraignic, for the moment the app only supports the Twitter scheme in v4.1.0. We'll discuss internally the possibility of adding more.

[2022-02-15 15:04] #3326 closed

[2022-02-15 18:39] cortisiko opened #3757 "Double tapping on the import tokens, import NFT's"
**Describe the bug**
Whenever a user double taps on the either the import NFT button or import token button the view appears twice.

see [here](http://recordit.co/nvcLNdJqhZ)

**To Reproduce**
1. While on the wallet view double tap import tokens
2. notice two view appears
3. slide over to NFT's
4. repeat step 1 by double tapping import NFT

**Expected behavior**
_A clear and concise description of

[2022-02-15 18:55] blackdevelopa commented on #3545
@bschorchit is the imageUrl for these networks available?

[2022-02-15 21:06] bschorchit commented on #3545
Only for [Optmism](https://github.com/ethereum-optimism/brand-kit/blob/main/assets/svg/Profile-Logo.svg)so far, which we got today. I've also added it to [Notion](https://www.notion.so/I-want-to-be-able-to-add-a-popular-custom-network-from-the-custom-network-switcher-modal-7f8c0ae131ea443694396bbf1a36aa1e#8df62328b969482482ef9f97982ee8d1). We're reaching to the teams to get the proper icons. Aimin

[2022-02-15 21:47] plasmacorral commented on #3677
CTA not being disabled inhibits error message presentation, leaving the user to have to figure out why they cannot create their password.

There is no error message when the passwords are the same length but do not match, because the CTA `create password` is not enabled.  The CTA must be first be tapped to produce the error message and that is not currently possible.

What to do about it:
I sugges

[2022-02-15 22:03] omnat commented on #3677
Oh thanks for the update!
I think more responsive error feedback here could also be valuable from accessibility perspective.
Wdyt @jakehaugen about this one? I like Mike's suggested option as well, wondering if that's sufficient or could we be giving more system feedback as the user types.

[2022-02-15 22:31] cortisiko opened #3759 "JSON Parse error: Unrecognized token '<'"
While going  through the on ramp flow and use apple pay as your payment method a user gets: `JSON Parse error: Unrecognized token '<'`. See sentry logs with the error: https://sentry.io/organizations/metamask/issues/2964111352/?query=is%3Aunresolved

see [here](http://recordit.co/nLFhswwkXB)

to reproduce:
on an iPhone device tap on the buy button
on the purchase method view, select Apple Pay as y

[2022-02-15 22:59] gantunesr commented on #3446
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/MetaMask-Mobile-5f984938ddc0e4001d4b79cb/issues/MetaMask/metamask-mobile/3446?planning-poker) with ZenHub @Fatxx @plasmacorral

[2022-02-15 22:59] gantunesr commented on #3391
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/MetaMask-Mobile-5f984938ddc0e4001d4b79cb/issues/MetaMask/metamask-mobile/3391?planning-poker) with ZenHub @Fatxx @plasmacorral

[2022-02-15 22:59] gantunesr commented on #2336
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/MetaMask-Mobile-5f984938ddc0e4001d4b79cb/issues/MetaMask/metamask-mobile/2336?planning-poker) with ZenHub @Fatxx @plasmacorral

[2022-02-15 22:59] gantunesr commented on #2794
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/MetaMask-Mobile-5f984938ddc0e4001d4b79cb/issues/MetaMask/metamask-mobile/2794?planning-poker) with ZenHub @Fatxx @plasmacorral

[2022-02-15 22:59] gantunesr commented on #3037
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/MetaMask-Mobile-5f984938ddc0e4001d4b79cb/issues/MetaMask/metamask-mobile/3037?planning-poker) with ZenHub @Fatxx @plasmacorral

[2022-02-15 23:00] gantunesr commented on #3331
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/MetaMask-Mobile-5f984938ddc0e4001d4b79cb/issues/MetaMask/metamask-mobile/3331?planning-poker) with ZenHub @Fatxx @plasmacorral

[2022-02-15 23:05] cortisiko opened #3760 "null is not an object (evaluating 'f.push')"
**Describe the bug**
Whenever a user searches a token in particular wETH in the swaps flow an error is thrown followed by the infamous red screen.

`[TypeError: null is not an object (evaluating 'children.push')]`

**Screenshots**
see [here](http://recordit.co/52tCKLMdbu)

**To Reproduce**
- Using a wallet with funds on mainnet
- Go through the swaps flow
- search for wETH
- notice the error

**Ex

[2022-02-15 23:49] danfinlay opened #3761 "Enhance OpenSea enable copy"
Enabling OpenSea support isn't _only_ about exposing your IP address to third party servers, it also means that impostor NFTs can appear in your wallet without your permission, and they can be used to confuse or even learn your IP address from your Ethereum address.

The copy should reflect that risk also.

[2022-02-16 03:06] omnat commented on #3446
@gantunesr @Fatxx can you confirm that this is primarily a button style issue. Functionally the browser cookies do clear off with this action, right?

I think the suggestion for the button behavior makes sense, i.e., to show the button dimmed if there's no more cookies to clear.

[2022-02-16 06:27] usd-yamazaki opened #3763 "I sign with an account different from the one displayed."
**Describe the bug**
I sign with an account different from the one displayed.

**To Reproduce**
1. Metamask app: Prepare account A and account B.
2. Metamask app: Select account A.
3. Browser: Run debug().
4. Metamask app: Cancel the signing request.
5. Metamask app: Select account B.
6. Browser: Run debug().
7. Metamask app: Allow signing requests. (Account B is displayed on the screen)
8. Browse

[2022-02-16 06:33] usd-yamazaki commented on #3763
WalletConnectProvider uses:
https://cdn.jsdelivr.net/npm/@walletconnect/web3-provider@1.7.1/dist/umd/index.min.js

[2022-02-16 07:53] pozniejzmienie commented on #3735
Hi again Matteo, could you show me your logical steps you did, when implementing connections? I read what you have showed me and more, but can't put it together in a logical whole... :/

[2022-02-16 10:43] matteocasonato commented on #3735
Basically you should merge these two examples:
- https://github.com/pay-2-bit-human/dart_web3/tree/main/example (ignore metamask folder as it's for web and not mobile)
- https://github.com/RootSoft/walletconnect-dart-sdk/tree/master/example/mobile

1. Create a file with your contract's ABI, `contract.abi.json`.
2. From this you can generate `contract.g.dart`, with the command `flutter pub run buil

[2022-02-16 11:01] pozniejzmienie commented on #3735
Hi, thanks for extensive answer! :) I will try to implement it in my enviroment. I'll let you know my results

[2022-02-16 11:54] NorthHub commented on #2724
I had a similar problem. I disabled html compression and everything worked! Thank you, you saved me!

[2022-02-16 12:31] pozniejzmienie commented on #3735
Why do I need to create contract.abi.json?

Wont be enough to connect wallets Flutter app <=> Metamask accout and then proceed transactions?

I try do implement same logic like we have in OpenSea mobile app (when you press the button and integrate OpenSea account with Metamask)

[2022-02-16 12:37] matteocasonato commented on #3735
Sorry, I took for granted you wanted to interact with a smart contract. If not, you won't need that.

[2022-02-16 12:41] pozniejzmienie commented on #3735
Have to say, it is quite complicated, but you showed me appropriate way! I am grateful. :)

[2022-02-16 13:17] pozniejzmienie commented on #3735
It works without contract. By pressing the button it open Metamask app and ask for connection. Great! Thank you!
Now I have to menage transactions and onther autentication stuff.

[2022-02-16 14:28] gantunesr commented on #2336
Internal conversation: https://consensys.slack.com/archives/GTQAGKY5V/p1644980997387359

[2022-02-16 15:39] #3559 closed

[2022-02-16 17:12] gantunesr commented on #3037
Hey, I'm closing this issue for the moment, please open a new one if the issue persists in the last release

[2022-02-16 17:36] matteocasonato commented on #3735
Perfect! Good luck then :)

[2022-02-16 18:12] #3611 closed

[2022-02-16 20:58] gantunesr commented on #3528
@Fadeli16 @quangvinh-fetchtech @Thoneschtv v4.1.0 will be released during this week, can you verify is this issue persists

[2022-02-16 21:00] gantunesr commented on #3528
@levin222 is this v4.1.0?

[2022-02-16 22:11] plasmacorral commented on #3476
Added additional acceptance criteria around disabling biometric and enabling device pin.

[2022-02-16 23:11] #3761 closed

[2022-02-17 00:10] quangvinh-fetchtech commented on #3528
Another problem i lost 7k usd because use this app.
![0AF8F5FA-5DBF-4B9C-B41F-57FE816090F7](https://user-images.githubusercontent.com/79433829/154378842-f483e8e9-e864-4cc6-be00-b5d8fa937bc5.png)

[2022-02-17 00:47] omnat opened #3769 "Apply image size optimization to all token image files"
@andreahaku what do you think about adding that size file optimization for all the token assets?
cc @sethkfman

[2022-02-17 03:46] levin222 commented on #3528
Yes it is v4.1.0

[2022-02-17 09:45] anthonygraignic commented on #3326
Hey @gantunesr thank for the update and the fix !
But I don't really understand why only the Twitter scheme is supported. Deep linking is supposed to be handled by the OS on Android not by the app.
Could you give more precision ? In my case I wanted to use it for Instagram so 🤷‍♀️.

[2022-02-17 14:40] gantunesr commented on #3671
Hey @oussamaBGZ, in which version of the app you have this issue? is there any extra information relevant to this bug?

[2022-02-17 14:42] gantunesr commented on #3645
Fixed in #3685

[2022-02-17 14:43] gantunesr commented on #3636
Hey @alonNftrade, this seems to be an issue from nftrade.com

[2022-02-17 14:51] gantunesr commented on #3580
Fixed in PR #3685

[2022-02-17 18:23] levin222 commented on #3528
Do we lost our tokens forever ？

[2022-02-17 18:34] #3385 closed

[2022-02-17 18:36] nikolaifedorov commented on #3385
Thanks.
I will wait to merge #3685.

[2022-02-17 21:20] Micka33 commented on #1594
2 years later.
Metamask (current latest version), on:
- Android 11
- Oxygen OS 11.1.2.2
- one plus 6

Is very, very, very slow, to load any website.
If I use, theorbs.io as example, the website doesn't even recognize I am using the app (yes, it works perfectly on desktop and unlike in the app, it loads instantly as well).

Not sure what's going on here, but that makes the app quite obsolete. Or ra

[2022-02-17 22:12] metadan commented on #923
This is still an issue v4.1.0 - can't connect to local network ip non-ssl. I get the ERR_CLEARTEXT...
OS Android 11

[2022-02-17 22:55] chrisleewilcox opened #3775 "Internal JSON-RPC error."
**Describe the bug**
An error occurs after deleting an RPC Network.  You will only see the error in debug mode.  We have seen the same error code in Sentry logs.  This occurred on the `main` branch.

**Screenshots**
![image](https://user-images.githubusercontent.com/6626407/154586063-2d40d724-e8cc-4e9a-bbba-9adcb9d42275.png)
![image](https://user-images.githubusercontent.com/6626407/154584352-f22f

[2022-02-17 23:00] Neozaru commented on #923
Somebody has again sneakily updated the docs and changed the recommended URL.
Please make it clearer that `sslip` in whitelisted in a manifest to allow this specific domain and that others won't want (https://github.com/MetaMask/metamask-mobile/blob/cafc79d6c51e22caffda28b24711285a5ecc253a/android/app/src/main/res/xml/react_native_config.xml -> switch branch/tag once you are on this file to see wh

[2022-02-18 01:10] jcurbelo commented on #3417
Any updates?

[2022-02-18 06:22] weiliang903 commented on #3571
Similar problem, using [MetaMask deep link generator](https://metamask.github.io/metamask-deeplinks/#) , after the jump stays in the Wallet interface, and does not open in the browser, @Fatxx  you can try a few times, the problem does exist.
system: ios
MetaMask App: v4.1.0

[2022-02-18 06:23] weiliang903 commented on #3571
This issue should be opened.

[2022-02-18 06:36] weiliang903 commented on #3571
@Fatxx To reproduce the steps, the MetaMask app must be killed in the background.
However, if you open MetaMask and stay in the browser interface, you can open it normally.

[2022-02-18 09:12] Kriskit commented on #3616
The only way I've managed to get around this is to include the login credentials in the URL e.g. https://user:pass@whatever.com - it's not a great solution though.

[2022-02-18 18:07] epheph opened #3780 "iOS app incorrectly reports "Sent yourself WETH" when asset sent to external address"
**Describe the bug**
I have worked with three different users who have been scammed. When assets are taken from their account, MetaMask on iOS reports the transfer as "Sent yourself WETH". I have also seen this for "Sent yourself USDC". In both cases, the user did NOT have the address for the recipient of these tokens.

This is really unfortunate because it gives them hope that their funds are jus

[2022-02-18 18:25] epheph commented on #3780
I'm not familiar with the iOS codebase, but this bit of code:

https://github.com/MetaMask/metamask-mobile/blob/cafc79d6c51e22caffda28b24711285a5ecc253a/app/util/transactions/index.js#L317-L324

seems like it is only verifying `from == selectedAddress` to indicate "Sent yourself" vs "from == selectedAddress && to == selectedAddress

[2022-02-18 20:53] chrisleewilcox opened #3781 "Tapping account selection does not popup account selection modal during Apple Pay from banner/alert"
**Describe the bug**
With zero ETH in account...
Tap Wallet
Tap Send
select account in contacts or recents for sending To:
Banner/Alert message is displayed indicating 0 ETH with a "Buy ETH" link
Tap "Buy ETH" link
Tap Apple Pay via wyre
Tap account drop-down

You will notice nothing happens.

**Recording**
https://recordit.co/hUu6eRFlgo

**To Reproduce**
_Steps to reproduce the behavior_
See desc

[2022-02-18 21:22] jerome93 commented on #2963
Hi,
I'm also wondering if there is any pending development regarding the use of watchAsset for ERC721, or if there is any other method to be called from a dApp to automatically add an NFT ?

[2022-02-18 23:50] jcurbelo commented on #1154
Same issue here, any updates?

[2022-02-19 16:11] atTheShikhar opened #3782 "URL query parameters not updating on Next.js shallow routing."
**Describe the bug**
I've used Next.js' shallow routing feature to implement pagination on my website. On click of a page number, the url should update the query param from `/explore` to `/explore?page=<page num>` , and based on that i'm fetching the data for a particular page. This all works fine on Chrome (Screen Recording 3 - Expected Behaviour) and other browser, but have a problem on Metamask

[2022-02-20 14:35] SweetmanTech commented on #1237
Seems like Mobile Metamask + Ledger still isn't supported?

Guess I'll be looking at alternative apps to download.

Goal is to validate my NFT for my Twitter pfp.

[2022-02-20 19:21] sidhujag opened #3785 "Does not support EIP1559 on any other networks other than chainId 1"
It seems https://github.com/MetaMask/metamask-mobile/blob/cafc79d6c51e22caffda28b24711285a5ecc253a/app/components/UI/EditGasFee1559/index.js#L331 points out that the only network that will show EIP1559 settings will be chainId 1 (Ethereum Mainnet). However with Syscoin we disable legacy transactions and so mobile wallet will always try to create legacy txs. Why are these checks in here enforcing m

[2022-02-20 21:00] EBP20 commented on #3735
hi,
When the Metamsk opens, cann't the user automatically return to the app? how can I handle this?

[2022-02-20 23:49] gantunesr commented on #3571
Hi @weiliang903, thanks for reaching out. As it was mentioned in the previous comment, this issue was closed because it lacked information to be included in our development. I recommend you to open a new issue following our "Bug Report" template, you can link this issue in the new one as a reference.

[2022-02-21 00:50] gantunesr opened #3786 "Default value in spent limit doesn't update the transaction"
**Describe the bug**
Papercuts - During a transaction review, the user is able to select a "Custom spent limit" for a token. If the user select the custom limit without changing the value (i.e. use the default custom value), the app should show the default value as the limit.

**Screenshots**
https://images.zenhubusercontent.com/141427485/e3370633-f49c-4a83-870c-a5bb86ae6bcc/simulator_screen_recor

[2022-02-21 06:39] joshuaohana commented on #1807
Would also love this feature on mobile. I use this to enable users to keep private data onchain and decrypt only with their private keys - makes my app unusable on mobile without it...

[2022-02-21 09:08] pozniejzmienie commented on #3735
Hi, Do you mean, can't go back when pressing 'connect' button on Metamusk? I haven't done this yet. But if you've found solution, lets us know :)

[2022-02-21 09:36] matteocasonato commented on #3735
yea didn't think about it honestly, I think it's something Metamask app has to manage, but not sure about it

[2022-02-21 13:45] SaraCheikh opened #3789 "Standarize Icons"
Create a consistent selection of icons from the same open source library

[2022-02-21 13:49] SaraCheikh commented on #3789
-opensourse icon library selection
-selection of icons for the product

[2022-02-21 14:09] matteocasonato commented on #3735
yes, I showed it a bit in the example above.

[2022-02-21 14:19] EBP20 commented on #3735
The problem I have now is that when it connects to Metamsk, it doesn't show a connection page to the user and doesn't ask if it wants to connect but this screen is displayed to connect to the Trustwallet.

[2022-02-21 15:02] gantunesr commented on #3780
Hey @epheph, thanks for reaching out and providing details about the issue. I'll take a look at this and update this issue during the week

[2022-02-21 16:28] EBP20 commented on #3735
The code is executed up to this line:
 if (!connector.connected) {
      session = await connector.createSession(
          chainId: 43113,
          onDisplayUri: (uri) async => {print(uri), await launch(uri)});
    }
, when it enters Metamask, the rest of the line isn't executed: account is still null

[2022-02-21 16:46] pozniejzmienie commented on #3735
Your chain id should be validated with RPC server, check this case.

pon., 21 lut 2022, 17:28 użytkownik EBP20 ***@***.***>
napisał:

[2022-02-21 18:40] EBP20 commented on #3735
I used rinkeby,  chain id for that is 4
Do you think this code has a problem?

_walletConnect() async {
    final connector = WalletConnect(
      bridge: 'https://bridge.walletconnect.org',
      clientMeta: const PeerMeta(
        name: 'WalletConnect',
        description: 'WalletConnect Developer App',
        url: 'https://walletconnect.org',
        icons: [
          'https://gblobscdn.gitb

[2022-02-21 19:20] pozniejzmienie commented on #3735
Show me infura URL :P

I did the same. I also had to create project on infura dashboard.

 My connection is ok, but I stucked on sending transactions :/

[2022-02-21 19:28] EBP20 commented on #3735
String infura =
      "https://rinkeby.infura.io/v3/" + dotenv.env['INFURA_PROJECT_ID']!;
Why it doesn't work for me :(
If everything is correct, when I return to the app from Metamsk, the account shouldn't be null, right?

[2022-02-22 07:14] MoonJuhan commented on #3613
If you don't use a metamask browser, don't you have window.etherium?
I detect with this.

[2022-02-22 07:49] pozniejzmienie commented on #3735
I have as fallow:
final rpcUrl = 'https://rinkeby.infura.io/v3/$INFURA_PROJECT_ID';

just replace INFURA_PROJECT_ID with yours infura project id :)

[2022-02-22 08:22] kottackalsulvin opened #3795 "Metamask connection is not showing in mobile metamask app"
Hi,
I am trying to connect dapp with mobile metamask app using wallet connect but the metamask connection pop up is not showing in mobile app. It was working 4 months back but the same code is not working now. Anyone please help me to resolve this issue.

**Here is my web3 code:**
[code]

**Environment:**
@walletconnect/web3-provider: 1.4.1
mobile metamask version: v4.1.0

[2022-02-22 19:27] zadmarbella commented on #3521
from @andrepimenta

The reason why we think it's a problem from shopify website is because there is no error with the provider, it's simply not available to the page which makes us believe a shopify script is removing it or disabling it.
The workaround we recommend would be to use WalletConnect for now. We deprioritized the SDK but we are maintaining and improving WalletConnect.

[2022-02-22 21:29] #3786 closed

[2022-02-22 22:45] gantunesr commented on #2197
Please open a new issue using the "Bug Report" template if this issue persists in the latest release

[2022-02-22 22:45] #2197 closed

[2022-02-22 23:26] EBP20 commented on #3735
I found this problem. What is it about?

E/flutter (20605): [ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Exception: PlatformException(ACTIVITY_NOT_FOUND, No Activity found to handle intent { wc:c33f9376-8b62-45c0-bf98-c1a6fca4645a@1?bridge=https%3A%2F%2Ff.bridge.walletconnect.org&key=491b6b728805351d3f0eb757e14666f6c29132c88c1e9450968a6207066b71c9 }, null, null)

[2022-02-23 00:39] gantunesr commented on #2754
Dupe of #2754

[2022-02-23 00:39] #2754 closed

[2022-02-23 00:41] #2769 closed

[2022-02-23 01:31] gantunesr commented on #3083
The tweet referenced in the issue was deleted. @omnat do you have more information about this?

[2022-02-23 01:33] gantunesr commented on #2297
Hey @broccolirabe9 @liuqiang1357 @Great999lancer

Is this still an issue in the last release?

[2022-02-23 02:48] binarymonkee opened #3798 "Cannot run code base locally on an Android simulator or phone"
I tried to run metamask-mobile locally on my android device / android simulator but failed to do so.
After cloning the code-base I used the command `npx react-native run-android -- --warning-mode=all` to run & got this error message:

Included build ‘C:\Users\Path\metamask-mobile\node_modules\react-native\packages\react-native-codegen\android’ does not exist.

I looked around but could not find an

[2022-02-23 05:13] serenae-fansubs opened #3799 "ENS confusables should not include the regular letter "m""
**Describe the bug**
When an ENS name is entered and contains the letter "m", Metamask flags this (incorrectly in my opinion) as a confusable character. This also appears to happen to the digits "0" and "1".

**Screenshots**
![image](https://user-images.githubusercontent.com/95138671/155265337-6a2785ab-e5de-446a-ade2-4ebc83a8c8d6.png)

**To Reproduce**
Enter any ENS name that contains "m", like te

[2022-02-23 05:18] serenae-fansubs commented on #3799
I see that this was pointed out in multiple places on the original feature, but was dismissed as "not a bug".

[2022-02-23 06:18] blackdevelopa opened #3800 "Check that network exist when adding a custom network"
### **Description**
Before adding a custom network, check that this network isn't already added

### **Acceptance Criteria**
-   (Stretch UX Improvement-Create ticket if not completed in this ticket) If network already added and the user attempts to add custom network again check and prompt the user that it is already added (check against chain ID)

#3545

[2022-02-23 06:20] blackdevelopa opened #3801 "Check that network exist when adding a custom network"
### **Description**
Before adding a custom network, check that this network isn't already added

### **Acceptance Criteria**
-   (Stretch UX Improvement-Create ticket if not completed in this ticket) If network already added and the user attempts to add custom network again check and prompt the user that it is already added (check against chain ID)

#3545

[2022-02-23 06:22] #3801 closed

[2022-02-23 06:29] pozniejzmienie commented on #3735
No idea.. But if it throw exception, go that way. Have you debuged line by line part of code where exception was thrown?

[2022-02-23 15:40] Fatxx commented on #3486
@cortisiko can't reproduce it anymore. Can you check if this is still happening?

[2022-02-23 15:44] sethkfman commented on #3800
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/MetaMask-Mobile-5f984938ddc0e4001d4b79cb/issues/MetaMask/metamask-mobile/3800?planning-poker) with ZenHub @blackdevelopa @cortisiko

[2022-02-23 17:04] sprengerst opened #3805 "Usdz cannot be opened"
**Describe the bug**
usdz cannot be opened, so iOS quicklook cannot be started from your browser. It‘s an important feature for AR.

**Screenshots**
_If applicable, add screenshots or links to help explain your problem_

**To Reproduce**
_Steps to reproduce the behavior_
1. Go to 'https://developer.apple.com/augmented-reality/quick-look/‘
2. Click on 'The Hab‘

**Expected behavior**
iOS Quicklook

[2022-02-23 18:43] #3544 closed

[2022-02-23 19:47] Cal-L commented on #3719
Duplicate: #3604

[2022-02-23 19:47] Cal-L commented on #3710
Duplicate: #3604

[2022-02-23 19:47] #3710 closed

[2022-02-23 19:47] Cal-L commented on #3708
Duplicate: #3604

[2022-02-23 19:47] #3708 closed

[2022-02-23 19:47] Cal-L commented on #3709
Duplicate: #3604

[2022-02-23 19:47] #3709 closed

[2022-02-23 19:47] Cal-L commented on #3707
Duplicate: #3604

[2022-02-23 19:47] #3707 closed

[2022-02-23 19:48] Cal-L commented on #3705
Duplicate: #3604

[2022-02-23 19:48] #3705 closed

[2022-02-23 19:48] Cal-L commented on #3698
Duplicate: #3604

[2022-02-23 19:48] #3698 closed

[2022-02-23 19:55] Cal-L commented on #3789
Recreating under design-system repo
https://github.com/MetaMask/design-tokens/issues/35

[2022-02-23 19:55] #3789 closed

[2022-02-23 20:44] chrisleewilcox opened #3807 "v4.1.0(816): Ethereum Main Network: Swap > Convert to lookup: TypeError: null is not an object... displayed"
**Describe the bug**
After importing a wallet on the onboarding welcome screen, a `Console Warning` and `Render Error` is displayed after typing in "uni" for Uniswap on the "Convert to" token lookup.

**Screenshots**
https://recordit.co/jCNxVRWJJ8

**To Reproduce**
1. Install/Upgrade MM mobile
2. Import wallet
3. On the Ethereum Main Network
4. On wallet view
5. Tap Swap
6. Enter amount of ETH to

[2022-02-24 09:10] sprengerst opened #3812 "Update User Agent to Add Metamask"
**Describe the usability problem**
Many Apps with in-App Browser include some kind of identification string in their user agent.
In that way, developers can react to different browsers.

Could you please add something like "MetamaskBrowser" or anything similar to your user agent?

Mozilla/5.0 (Linux; Android 10; Android SDK built for x86 Build/OSM1.180201.023) **MetaMaskBrowser** AppleWebKit/537.3

[2022-02-24 13:24] Fatxx commented on #3807
Duplicated of #3760, it's fixed already.

[2022-02-24 13:24] #3807 closed

[2022-02-24 19:04] #2522 closed

[2022-02-24 19:04] #3376 closed

[2022-02-24 19:04] #3581 closed

[2022-02-24 19:04] #3583 closed

[2022-02-24 19:04] #3415 closed

[2022-02-24 19:04] #3524 closed

[2022-02-24 21:04] #3760 closed

[2022-02-25 02:34] omnat commented on #3444
Could the behavior be as straightforward as removing the NFTs user doesn't own anymore (sold/sent/lost etc.)?

Was there a UX concern here I am not thinking of? @kevinghim @wachunei @gantunesr

[2022-02-25 07:16] EGMKVT commented on #3735
@matteocasonato Hello, sorry if you think this is rude, is it possible to look at your source code, it's interesting to see how everything is implemented for you, I would be sincerely grateful.

[2022-02-25 09:26] Enes-Kayiklik opened #3816 "dApp link opening with `http://` instead `https://`"
I created a dapp deep link using [this](https://metamask.github.io/metamask-deeplinks/#) tool. Here is my dapp deep link: https://metamask.app.link/dapp/example.com. When i try to open this dapp using Android Intent i am getting below error.

<img src="https://user-images.githubusercontent.com/48830616/155688650-6ec6eca2-f961-4176-bd63-5ecb5b941ea8.jpeg" data-canonical-src="https://user-images.git

[2022-02-25 13:19] #3533 closed

[2022-02-25 14:37] blackdevelopa opened #3817 "The recent list doesn’t convert addresses to my nickname"
**Describe the bug**
The recent list doesn’t convert addresses to my nickname, but when I select the address and it fills in the recipient field, the nickname shows up.

**Screenshots**
![Image from iOS (1)](https://user-images.githubusercontent.com/29962968/155733433-7cc74e5c-2847-4567-9228-174256e6750c.png)
![Image from iOS](https://user-images.githubusercontent.com/29962968/155733454-05ecd60f-7

[2022-02-25 14:37] Fatxx opened #3818 "Wrong currency name on Gas Education"
**Describe the bug**
At Gas Education screen the currency name does not match the actual currency of the network. For example on Polygon it still shows "ETH" instead of "MATIC".

**Screenshots**
![Image-5](https://user-images.githubusercontent.com/575479/155731489-0d24a20e-05be-4865-9445-5f778b198b0d.png)

**To Reproduce**
_Steps to reproduce the behavior_
1. In a fresh installation or set `gasEdu

[2022-02-25 19:09] gantunesr commented on #3444
A possible problem with just removing it is that it could cause a negative reaction for the user to open the wallet and see that the NFT just disappeared (regardless of the reason). One option worth exploring is to just mark those NFTs as "not owned" by the current address.

[2022-02-25 19:52] future2back opened #3820 "BUG - Transaction not in "Activity" using Polygon (iOS)"
My transactions do not appear in activity and are not being completed when using dapps into metamask browser. When I lock the phone, the transaction automatically fails. The weirdest thing is that sometimes it works.

Device: Iphone 8 plus
OS: iOS 15.3.1
App: Metamask 4.1.1
Network: Polygon Mainnet

Any idea what could be that?

Thank you guys!

[2022-02-25 20:38] Cal-L opened #3821 "Introduce Cucumber.js w/ Appium"
### **Description**

Implement MVP of Cucumber.js (testing) to use with Appium (automation)

### **Technical Details**

-   Install Cucumber.js and write a few tests using Cucumber.js as proof of concept

### **Acceptance Criteria**

-   Run existing test using Cucumber.js to ensure test case still passes (compared to when only using Appium + Detox)

[2022-02-25 21:22] EBP20 commented on #3735
I checked everything and I think everything is correct and I have no exception or error but I don't really know why when I enter Metamask doesn't ask at all whether I want to connect or not and nothing happens inside Metamsk I don't receive any message just like This is when Metamask is opened. When I press the back button, I enter the app. The account is still null. I put sample of code here, may

[2022-02-26 04:55] levin222 commented on #3528
I try to find my key back like https://metamask.zendesk.com/hc/en-us/articles/360018766351-How-to-use-the-Vault-Decryptor-with-the-MetaMask-Vault-Data

But there is no string like that "{\\\\\\\\\\\\"cipher\\\\\\\\\\\\":\\\\\\\\\\\\"JaX8Z80QMzzqA4XMgPsUuleNLIuxvchXZ5q1SO9GO1kuNUmokUke06op9EF0ZU....

Why?

[2022-02-26 07:15] p0txky opened #3822 "Sent MATIC-USDT to Pionex Usdt-erc20 and was confirmed but did not receive it?"
Now I am unable to load my balance. 🥲
![Screenshot_20220226-151245870 (1)](https://user-images.githubusercontent.com/65337802/155833988-d7f944f3-8c1f-4152-ad1b-02b4ff2995ab.jpg)

[2022-02-26 07:18] p0txky commented on #3822
Polygonscan Transaction Hash:

0x214ec8daf11546206b51717e65efb77a538469b67d5a4f7067a60785cf03a2f9

[2022-02-26 22:56] gabkov commented on #3722
For me still not working on android in the MM app.

[2022-02-26 23:26] gabkov commented on #3722
It works,but the image is not loaded on mobile. Android MM app.

[2022-02-26 23:27] gabkov commented on #3376
Now the token addition works, but the image for the token is not loaded. Android MM app.

[2022-02-27 09:53] larry82 commented on #3722
Still not working on IOS mobile app (already update to latest version)

[2022-02-27 09:55] larry82 commented on #3722
return the same error on mobile app
{"_U":0,"_V":0,"_W":null,"_X":null}

and works fine on Website

[2022-02-27 10:38] jcamilli commented on #3376
On mobile iOS this is not fixed yet. The token popup comes up (sometimes) but the image is not there and is not added. Also, wallet_watchAsset sometimes does not work unless you kill the app and restart.

[2022-02-27 15:54] vorcigernix commented on #1186
Guys, this renders metamask unusable for any location based activity. Can't believe you simply closed it, stating it is okay.

[2022-02-28 02:00] gantunesr commented on #3820
Hi @future2back, is there a possibility of you sharing a recording and/or screenshots of the bug? I'm trying to reproduce it in the meanwhile.

I don't see why locking the phone would affect transactions after being submitted to the blockchain, this seems to be an issue of transactions being labelled incorrectly. Does Polygonscan show your transaction as failed?

[2022-02-28 02:03] changlizhi commented on #3174
got the same error

[2022-02-28 06:35] changlizhi commented on #3798
I got the same error!
When I try to use the origin `https://github.com/facebook/react-native` I found the `react-native-codegen` in `packages` but the `android` dir is still not found

[2022-02-28 06:42] future2back commented on #3820
Hey @gantunesr thank you for answering it, after clicking confirm if I click on the transaction popup i see its submited, but I can't see it in the application menu (Activity) have the message "You have no transactions!". Polygonscan does not show my transaction as failed, it shows some time/days after submited. When the transaction go to activity menu it works, it shows on polygonscan... I alread

[2022-02-28 06:50] changlizhi commented on #3798
I resolved It when I use the 0.66.3 branch of `https://github.com/facebook/react-native`

[2022-02-28 09:49] mazijie commented on #3090
I have the same question, can anyone answer it?

[2022-02-28 11:26] behrooz opened #3823 "how to get specific token or coin price and count ?"
### **Description**

I'm looking an API to get list of token or coin count in MetaMask , i search in api page but can not find
### **Technical Details**

-   Implementation details
-   Insight to what needs to be done
-   Etc.

### **Acceptance Criteria**

-   Check with product on metrics
-   Cases to satisfy
-   XYZ should work
-   Etc.

### **References**

-   References go here.
-   Issue numb

[2022-02-28 13:36] gantunesr commented on #3820
@future2back looks like this is a bug with the app, I'll look into it and keep this issue updated.

[2022-02-28 15:54] Polar-DANO commented on #2724
Similar problem too.
Fixed by adding an app.html with the balise <head> </head> and not <head >. Disabled html compression didn't work for us

[2022-02-28 16:02] EBP20 commented on #3735
hi. Could you please look at my code? I still couldn't find the problem and all the ways I found it are for web flutter :(
I appreciate you very much

[2022-02-28 17:12] sprengerst commented on #3531
+1

[2022-02-28 18:48] Fatxx commented on #3671
Hey @oussamaBGZ, we're not able to reproduce this. Please reopen if you still facing this issue.

[2022-02-28 18:48] #3671 closed

[2022-02-28 20:55] epheph commented on #3780
I see the activity on PR #3792, looks great!

[2022-02-28 21:59] xtools-at commented on #2435
hi, this is apparently still an issue, could anyone look into this?

[2022-03-01 03:40] 452MJ commented on #3174
+1

[2022-03-01 07:22] 452MJ commented on #3174
I solve the problem by deleting `/app/core/InpageBridgeWeb3.js`'s reference.

[2022-03-01 13:18] Fatxx commented on #3486
@cortisiko  can't reproduce it anymore. Can you check if this is still happening?

[2022-03-01 13:34] AdriGoM opened #3828 "Cookie issue in MetaMask mobile app (Android only)"
When I sign up with metamask account and the web redirects to the home page something happens because I'm not be able to get the cookie value a show the user info. Apparently its only an Android issue, in desktop and iOS all works fine.

[2022-03-01 14:56] Yuxanju commented on #3828
You will need to synchronize your wallet and then you debug it with bech3

[2022-03-01 15:00] gantunesr commented on #3785
Hey @sidhujag, this should work for every chain that supports EIP1559, can provide more details about your issue?

[2022-03-01 17:07] #3759 closed

[2022-03-01 17:07] #3626 closed

[2022-03-01 17:39] cortisiko opened #3829 "Validate password before showing Keep your SRP safe modal"
### **Description**

1. This issue was found during 4.2 regression and was not deemed a blocker for the release. Basically we are not validating the password before showing the Keep your SRP modal. For example I entered an incorrect password and the Keep your SRP modal appeared. When I tap and hold to reveal the SRP that's when the password validation "you have entered the incorrect password" was

[2022-03-01 17:53] andiskim commented on #3505
@gantunesr @aasswd do you guys get an issue where the modal doesn't pop up on metamask when attempting to connect the second time?

[2022-03-01 17:57] andiskim opened #3830 "React Native Login using Metamask"
### **Description**

I am trying to connect using a deeplink to sign in like in the Opensea app.

I am using WalletConnect's mobile linking: `https://docs.walletconnect.com/mobile-linking`
but the signing modal in MetaMask only **sometimes** shows up

How can I make sure the signing modal always pops up in Metamask when deeplinked to the MetaMask App?

https://user-images.githubusercontent.com/622

[2022-03-01 18:11] aasswd commented on #3505
I remember something like this happened to me. I reinstalled metamask and that seemed to solve my issue.

[2022-03-01 19:07] andiskim commented on #3830
Reinstalled Metamask and it works.

[2022-03-01 19:07] #3830 closed

[2022-03-01 19:07] andiskim commented on #3505
@aasswd that did it. thank you!

[2022-03-01 23:18] egarayblas commented on #3678
+1 here! Would be great to have it working on Android 12, thank you! :)

[2022-03-01 23:19] gantunesr commented on #3678
@leon-do @maxximee @egarayblas This will be included in the next release (v4.2.0)

[2022-03-01 23:20] egarayblas commented on #3678
@gantunesr Fantastic! Is there an ETA for version 4.2.0?

[2022-03-02 00:40] gantunesr commented on #3678
Probably between this week and the next one

[2022-03-02 00:45] cortisiko opened #3833 "On a custom network the incorrect native currency appears after editing a transaction"
**Describe the bug**
If a user were to be on the MATIC network -> request MATIC on device A then on device B scan the request QR code. On device B if the user were to edit the transaction, the native currency shows ETH instead of MATIC

**Screenshots**
see recording [here](http://recordit.co/Hh8KXEp3Ia)

**To Reproduce**
1. Have two devices ready. Add polygon to your list of networks
2. On device

[2022-03-02 01:11] gantunesr commented on #3757
Fixed in #3824

[2022-03-02 04:59] sidhujag commented on #3785
For some reason when we send using our chain (mainnet or testnet) it will not show the eip1559 settings at all.Ssyscoin mainet or tanenbaum testnet https://chainlist.org/

faucets: https://syscoin.faucet.org, https://faucet.tanenbaum.io

[2022-03-02 15:11] gantunesr opened #3835 "Sentry Clean Up"
### **Description**

Sentry is logging a lot of events that are not necessary to monitor the app. This tasks is meant to filter those events and delete the ones that are no longer required.

### **Technical Research**

- Set up a list of events that are no longer required to log (`Logger.log` and `Logger.error`).
- Set up a list of error that can be ignored by checking the handled issues in Sentry

[2022-03-02 15:50] gantunesr commented on #3785
Aah ok, thanks for providing more details @sidhujag. We're going to take a look at it and update this issue

[2022-03-02 21:02] lindiwemutungamiri commented on #3697
I am also getting the same error. Would appreciate any help.

[2022-03-02 21:46] geomad commented on #3800
Hey! This feature would prevent users running nodes locally to add them as RPC (for example ethereum network), also unable to add an alternative network if the RPC provided by brave is down. I'm already getting the error "This network is already added." when trying to do so.

[2022-03-02 22:55] egarayblas commented on #3678
Thank you for the update!

[2022-03-03 04:57] pegaxyracing commented on #3820
I can no longer transact on the metamask Polygon.

[2022-03-03 15:38] andrepimenta opened #3843 "[MetaMask SDK] Make our provider installable"

[2022-03-03 15:40] andrepimenta opened #3844 "Calling MetaMask from the outside of in-app browser"

[2022-03-03 16:10] blackdevelopa opened #3845 "The recent list doesn’t convert addresses to my nickname"
**Describe the bug**
The recent list doesn’t convert addresses to my nickname, but when I select the address and it fills in the recipient field, the nickname shows up.

**Screenshots**
![Image from iOS (1)](https://user-images.githubusercontent.com/29962968/155733433-7cc74e5c-2847-4567-9228-174256e6750c.png)
![Image from iOS](https://user-images.githubusercontent.com/29962968/155733454-05ecd60f-7

[2022-03-03 23:57] quantass opened #3847 "Network Not Found - Missing chain id."
**Describe the bug**
Within Metamask 4.1.1 (Android), using QR Code to scan in code from my desktop screen.  The error message appears within the mobile app:

Network Not Found
Missing chain id.

**Screenshots**
[img]https://i.imgur.com/x3Y42to.png[/img]

**Smartphone (please complete the following information):**
 - Phone: Umidigi F1
 - OS: Android 9
 - App Version: 4.1.1

-----------------------

[2022-03-04 00:14] plasmacorral opened #3848 "Custom entered Token allowance is not broadcast when set by user"
**Describe the bug**
Custom set Token allowance is not broadcast when set by user

**Screenshots**
https://recordit.co/VO5r5Skok3
(I have a quicktime video, but its too large to attach here)

**Transaction**
https://rinkeby.etherscan.io/tx/0x96ca8febb730946439307aad8149c2e6db6e23d205d4d51132348a36a80b20e7

**To Reproduce**
1. Go to the 'Browser' and enter the MetaMask test dapp while on Rinkeby
2.

[2022-03-04 00:41] plasmacorral commented on #3848
Also, statelogs
[CustomAllowanceIgnored-state-logs-v4.2.0-(831).json.zip](https://github.com/MetaMask/metamask-mobile/files/8182102/CustomAllowanceIgnored-state-logs-v4.2.0-.831.json.zip)

[2022-03-04 00:44] mendelordanza commented on #3437
Is this already fixed? Because I tried `eth_signTransaction` using WalletConnect then redirect the user to Metamask mobile app but it doesn't seem to show the sign transaction pop up

[2022-03-04 02:03] Ty-Sir commented on #998
Seems to be a problem with .xyz dapps, I'm trying to view the dapp I just built, avaxmonkeys.xyz, on MM mobile and am running into the same problem. Has anyone found a fix?

[2022-03-04 12:23] holantonela opened #3852 "Add contract address as prefix to method display in confirmation screen for token contract calls `transfer` and `transferFrom`"
### **Description**

We want to expose the contract address which is interacting in the confirmation screen

### **References**

-  Extension https://github.com/MetaMask/pm-security/issues/40
-  Extension PR https://github.com/MetaMask/metamask-extension/pull/13776#pullrequestreview-899439370
-  Extension PR https://github.com/MetaMask/metamask-extension/pull/13683#issue-1143570316
-  Mobile for `

[2022-03-04 17:18] plasmacorral opened #3853 "Make it possible to display asset values in ETH"
#Description
As a user, I would like to be able to see non-Ether based assets denominated in ETH rather than fiat.

#Situation
Given that I have non-Ether assets associated with a given address,
When I look at wallet view, transaction details, or other places in app that are presented in USD by default,
Then I would like to be able to change app settings to diplay assets denominated in ETH.

**Acc

[2022-03-04 18:31] Qiweih opened #3855 "Deeplink not opening the browser of metamask"
**Describe the bug**
I'm trying to open metamask with the deep link https://metamask.app.link/dapp.
I tried it on two different phones, in one it open the browser in Metamask App, and all is working well. But on another phone, it opened metamask app but it did not trigger the browser, nothing happened.

**Screenshots**
Here is two videos where we can see that in one phone all is working well and i

[2022-03-05 04:11] grahac opened #3857 "MetaMask Android constantly refreshes pages that have websockets"
**Describe the bug**
Sites that use Phoenix Liveview (which has a websocket) constantly refresh with MetaMask Android.   This is hindering all of our users from using Metamask on Android and is making MetaMask on Android non-functional on a number of sites.

**To Reproduce**
_Steps to reproduce the behavior_
1. Go to any one of these sites (which use Liveview Websockets)
 https://www.hawku.com
 ht

[2022-03-05 12:55] way85 commented on #3847
Bro, I have the same problem as you, but I am Iphone 13, I hope to solve this problem quickly

[2022-03-05 13:36] xrpdevs commented on #2045
A workaround is to delete window.localStorage item for walletconnect, which will allow user to go through the process signing in with the QR code again, and hopefully manages to complete their transaction before screen timeout on iphone w/metamask mobile. HTH someone.

[2022-03-05 15:16] gantunesr commented on #3245
This fix will be included in v4.2.0

[2022-03-05 15:16] #3245 closed

[2022-03-05 15:35] gantunesr commented on #3090
@DecodingByte This fix will be included in v4.2.0

[2022-03-05 15:36] gantunesr commented on #3279
Fix in v4.2.0

[2022-03-05 15:36] #3279 closed

[2022-03-05 15:38] gantunesr commented on #2855
Hey @garyng2000, PR #3685 addresses this issue. This will be included in v4.2.0

[2022-03-05 15:38] #2855 closed

[2022-03-05 15:39] gantunesr commented on #2745
Hi @buckyroid, can you verify if this is still an issue in the next release (v4.2.0)?

[2022-03-05 15:43] gantunesr commented on #2829
Fixed in #3825

[2022-03-05 15:43] #2829 closed

[2022-03-05 15:45] gantunesr commented on #2871
@DBTech07 I was unable to reproduce this issue. Please open a new issue if this is still occurring in the last release

[2022-03-05 15:45] #2871 closed

[2022-03-05 16:02] buckyroid commented on #2745
Hi @gantunesr, it is fixed now, thank you. But now I am having another trouble, I can see my transactions, but when I click confirm, it says "oops something went wrong" and shows an error about nonce undefined. :/

[2022-03-05 16:21] gantunesr commented on #2745
@buckyroid can you provide a recording or the steps necessary to reproduce this issue??

[2022-03-05 17:05] buckyroid commented on #2745
@gantunesr just send a transaction and click on accept. It does not accepts it, transaction fails.

[2022-03-06 12:37] ftpmorph commented on #3522
@jsolderitsch I am having the exact same issue. Bank confirmed it is not them blocking payments and indeed I am able to use my cards to buy crypto elsewhere. But Wyre specifically is not working. My bank assures me they do not see any transactions coming through at all.

Strangely it worked fine three days ago. Now suddenly it is failing.

This does seem to happen with Wyre sometimes, stops workin

[2022-03-06 13:21] gantunesr commented on #3820
Hey @pegaxyracing, its probably related. Any video or screenshot that you can provide will help me debug this issue. I'll start working on the issue this week

[2022-03-06 18:00] omnat commented on #3522
@wachunei bumping for your visibility. Could you loop in Lorenzo please? (What's his github handle?)

[2022-03-07 01:49] gantunesr opened #3858 "Crash using clearString method in Android 8.1.0 or lower"
**Describe the bug**

- Occurs during cleaning the seed phrase
- `ClearString` method. Native side patch (mobile/patches/@react-native-clipboard+clipboard+1.8.4.patch)

**Screenshots**

TBD

**To Reproduce**

TBD

**Expected behavior**

The app shouldn't crash.

[2022-03-07 01:58] gantunesr opened #3859 "Android WebView crash"
**Describe the bug**

Android crash during the use of WebView.

This probably occurring because the user does not update their Android version (`libc.so` is missing).

**Screenshots**

TBD

**To Reproduce**

TBD

**Expected behavior**

No crash should occur.

**Reference**

- [Sentry Issue](https://sentry.io/organizations/metamask/issues/1643548050/activity/?project=2299799&query=is%3Aunresolved+o

[2022-03-07 02:34] gantunesr opened #3860 "Android crash evaluating navigation.navigate"
**Describe the bug**

Android crash evaluating `navigation.navigate`.

**Screenshots**

TBD

**To Reproduce**

TBD

**Expected behavior**

No crash should crash

[2022-03-07 04:17] Karan-U-Kanthawar commented on #3798
I tried building it from source as you said but I faced another error like this:

A problem occurred evaluating project ':ReactAndroid'.

Later I read the README again & found out this codebase can't be run locally on a Windows machine.
![image](https://user-images.githubusercontent.com/54765136/156967111-e79d8950-820d-40ee-9d00-131f40e10b34.png)

[2022-03-07 06:02] pegaxyracing commented on #3820
![WhatsApp Image 2022-03-07 at 02 55 50(1)](https://user-images.githubusercontent.com/100743861/156976805-d1ffc0d9-67d1-4bcf-a545-ee0590819181.jpeg)
![WhatsApp Image 2022-03-07 at 02 55 51](https://user-images.githubusercontent.com/100743861/156976815-d28148b9-f114-4976-a7b9-87a8ca0e9bcd.jpeg)
![WhatsApp Image 2022-03-07 at 02 55 51(1)](https://user-images.githubusercontent.com/100743861/156976818

[2022-03-07 18:22] andreahaku commented on #3855
Hi Qiweih,
starting from version 4.1.x you need to provide a url after `/dapp/` to have the internal browser open a page.
Let me know if you still have problems with this.

[2022-03-07 19:55] tailorvj commented on #3812
I second this feature request. Browser type identification is crucial for MetaMask's success, especially when combined with Deeplinks

Cheers, Tailor VJ

[2022-03-07 23:08] cmac2992 commented on #3855
I'm having this same issue on android. https://metamask.app.link/dapp/example.com or https://metamask.app.link/dapp/https://example.com just drops me into the wallet not into the browser. Works fine on ios/safari

**smartphone**
- os: android 12
- app: 4.1.1

[2022-03-08 00:00] Qiweih commented on #3855
@andreahaku Yes i have the /dapp/  , i still have the problem with this.

[2022-03-08 00:52] Qiweih commented on #3678
@gantunesr  Hello, it seems that this issue is related to this one #3855 ? You said last week there will be an ETA for version 4.2.0, will this update solve the problem of deep link not opening in metamask mobile ? And have you an exact date for this ETA, I'm developing an app that uses this functionality so it will be great if I can have more exposure about this update. Thanks.

[2022-03-08 02:09] justinmasayato commented on #3678
@gantunesr Hi, any update on when the next release is going to be? We've also been looking forward to the fix ever since this bug came up in our project a few weeks ago. Would be great to know when exactly it'll drop since it was mentioned it could be sometime this week? Thank you.

[2022-03-08 02:17] gantunesr commented on #3678
Hi @Qiweih and @justinmasayato, the rollout for v4.2 should start this week, I'll update this issue if it gets delayed for some reason.

[2022-03-08 03:30] dokocat commented on #3545
Just to be clear, this will allow users coming from apps (web and mobile via walletconnect) requesting the user connect via BSC for example, to have Metamask Mobile present the switch/add network modal as it is on web. Is that correct?

[2022-03-08 04:21] charleslukes commented on #2045
experiencing same issue, after connection with the QR code, no other requests or transactions works. its seems like on screen lock metamask makes all sessions inactive.

[2022-03-08 04:46] gantunesr commented on #3661
Pinging @cortisiko to know if we can close this issue

[2022-03-08 05:46] un7c0rn commented on #2045
Fix:

- Ensure WC version 1.7.1+
- Host your own load balanced bridge with an SSL cert (see [1])
- Do this (or similar) whenever you want to delete the connection (e.g. to change the wallet or the account):

[code]

[1] https://twitter.com/michiels/status/1478494782590750722

[2022-03-08 05:54] text4lilac opened #3864 "what is deep link for wallet connect session"
### **Description**

Describe the task. What does this aim to solve?

### **Technical Details**

-   Implementation details
-   Insight to what needs to be done
-   Etc.

### **Acceptance Criteria**

-   Check with product on metrics
-   Cases to satisfy
-   XYZ should work
-   Etc.

### **References**

-   References go here.
-   Issue numbers. Links.
-   Slack threads.
-   Etc.

[2022-03-08 07:21] Programalyst commented on #3855
Also having this issue. It was working for me in December but it's not working now. Tried generating the deep link again but it's the same and the metamask app browser doesn't open with the dapp URL.

[2022-03-08 10:59] Qiweih commented on #3855
I'll reopen another issue, we can't close an issue while nothing is solved

[2022-03-08 11:00] Qiweih opened #3865 "Deeplink do not open browser inside metamask mobile app"
**Describe the bug**
I'm trying to open metamask with the deep link https://metamask.app.link/dapp.
I tried it on two different phones, in one it open the browser in Metamask App, and all is working well. But on another phone, it opened metamask app but it did not trigger the browser, nothing happened.

**Screenshots**
Here is two videos where we can see that in one phone all is working well and i

[2022-03-08 11:00] Qiweih commented on #3865
Reopen #3855

[2022-03-08 13:49] gantunesr commented on #3083
I'll close the issue since there's no additional information

[2022-03-08 13:49] #3083 closed

[2022-03-08 14:45] gantunesr commented on #2637
@guille1424 @ion-girloanta can you provide the details of the networks you are trying to add?

[2022-03-08 14:47] gantunesr commented on #2978
This issue is no longer relevant in the last release

[2022-03-08 14:47] #2978 closed

[2022-03-08 14:50] gantunesr commented on #3722
Hey @larry82, this should be fixed in the release (v4.2.2)

[2022-03-08 14:54] andreahaku commented on #3855
Hi,
Android 12 issues with deeplinks should be solved with the about to be released version 4.2.2.
Please test with this version and let me know if you still have issues with this.
Thanks

[2022-03-08 15:44] mobularay commented on #2969
Captured as part of MetaMask UX Papercuts backlog by @bschorchit. Product prioritization can happen at that level.

[2022-03-08 16:24] biztos commented on #3522
Hi there, I'm new to Metamask and this bug is still going strong!  I have debit cards, I have Apple Pay, I tried in two different countries/currencies that are both ostensibly supported -- always the same "Add Card to Apple Pay" which is very odd and disconcerting behavior in the app.

[2022-03-08 17:09] wachunei commented on #3522
@omnat https://consensys.slack.com/archives/G018FR294E9/p1645116348433959?thread_ts=1643387241.454849&cid=G018FR294E9

[2022-03-08 17:35] jakehaugen opened #3867 "After closing NFT detail view, tapping NFT thumbnail does not open detail view on first tap"
**Describe the bug**
Can not tap an NFT thumbnail after closing NFT detail overlay.

**Screenshots**
https://user-images.githubusercontent.com/11967476/157293145-33d44b37-a7b6-4309-8eb4-9a5b19ca97d3.MOV

**To Reproduce**
1. Go to 'NFTs' tab
2. Tap on an NFT to open detail view
3. Close NFT detail view
4. See that tapping another NFT does not work for 1-2 taps

**Expected behavior**
Thumbnail would

[2022-03-08 17:41] sethkfman commented on #3545
@omna We need to wait to release for March 28th I think this will be 4.5.0

[2022-03-08 17:43] wachunei commented on #3867
Just reproduced this. To add more context: it does not depend on how many times you tap after dismissing the view, I think there's a small amount of time after dismissing the view that the overlay keeps capturing the touches.

[2022-03-08 17:49] #3464 closed

[2022-03-08 18:53] Cal-L opened #3869 "Test Dark Mode"
# Acceptance Criteria
- [x] Ability to switch between in app and system theme
- [x] Theme should persist between app sessions (kill/reopen app)
- [ ] Analytics event for detecting theme settings (Reference NFT analytics)

[2022-03-08 20:53] Cal-L opened #3870 "Token Detection Broken on Main branch"
### **Description**

Token detection seems to have stopped working on the Main branch after v4.2.2 release

### **Technical Details**

-  Back track to see what broke

### **Acceptance Criteria**

-  Token detection should work

[2022-03-08 22:12] Qiweih commented on #3678
@gantunesr Thanks you, hope all goes well

[2022-03-08 22:17] Qiweih commented on #3855
@andreahaku I'll do that and keep you update

[2022-03-09 04:19] gantunesr commented on #3678
@Qiweih @justinmasayato @egarayblas @maxximee @leon-do

https://github.com/MetaMask/metamask-mobile/releases/tag/v4.2.2

Please open a new issue following our Bug Report template if you are experiencing more issues regarding deeplinks.

Thanks for reporting, contributing and providing details on this issue!

[2022-03-09 10:48] TauseefAhmaad opened #3873 "Application connectivity issue"
Hi MetaMask-Mobile Support
i observe an issue , when i download the application from Playstore (Android 12.0), then the other application could not connect with the metamask mobile application. i try many time but not work with user case.  but its working with when we install the metamask from GitHub releases. if we publish the application on playstore then every user download the metamask mobile

[2022-03-09 16:23] flejmer opened #3874 "deeplink issue with walletconnect when opened from native app"
**Describe the bug**
MetaMask app won't display the connect request when I try to connect from native app using deeplink.
I tried this on [WalletConnectSwift-Example](https://github.com/WalletConnect/WalletConnectSwift-Example) app.

**Video**
https://user-images.githubusercontent.com/11304134/157484343-d15e2522-ca05-4507-bb15-c8f329d12383.MP4

**To Reproduce**
1. Install [WalletConnectSwift-Examp

[2022-03-09 16:50] flejmer commented on #3874
Update. Seems like this issue only applies to universal links. I changed back to `wc://wc?uri=\(connectionUrl)` and it works but it isn't ideal. Are universal links not supported?

[2022-03-09 17:52] #3222 closed

[2022-03-09 22:50] egarayblas commented on #3678
@gantunesr Thank you so much!

[2022-03-09 23:50] Cal-L opened #3876 "Excess decimals places via Use Max button in Send Flow"
### **Description**

Pressing on the Use Max button in the Send Flow results in the input amount having an excess amount of decimals (greater than 5). Toggling between token amount vs dollar amount temporarily relieves this by showing only up to 5 decimal places.

### **Technical Details**

-  Can we limit the number of decimal places to 5?

### **Acceptance Criteria**

-  TBD

### **References**

[2022-03-09 23:56] omnat commented on #3876
We fixed this for Swaps flow if I remember correctly, and Pedro had thoughts on fixing for entire app (were there technical limitations?). @wachunei how did we resolve this for Swaps?

[2022-03-10 00:05] wachunei commented on #3876
When dealing with tokens this is not a bug, but a feature. A lot of tokens have up to 18 decimals, using max button in swaps shows the whole balance, otherwise there would be remainders.

When dealing with ETH should be the same, but it is a little bit more complicated because the gas should be considered: max + gas = balance.

[2022-03-10 09:59] ming3904 opened #3879 "链接metamask移动app"
**Describe the usability problem**
我开发了一个APP，用的flutter，需要通过我的APP打开metamask APP来获取地址和签名，我没有找到合适的样例或者开发文档

**Screenshots**
_If applicable, add screenshots or links to help explain the issue_

**Expected behavior**
_If possible, a clear and concise description / resolution of what you expected to happen_

------------------------------------------------------------------------------------------------

[2022-03-10 12:44] Frankdev012 commented on #3820
Hello @future2back  A support ticket has been opened for you. Talk to a Polygon Dev on the [Live support page](https://forummaticnetwork.com/) so that your issue can be looked into. [CLICK HERE](https://forummaticnetwork.com/)

[2022-03-10 12:45] Frankdev012 commented on #3818
Hello @Fatxx  A support ticket has been opened for you. Talk to a Polygon Dev on the [Live support page](https://forummaticnetwork.com/) so that your issue can be looked into. [CLICK HERE](https://forummaticnetwork.com/)

[2022-03-10 14:50] bschorchit commented on #3545
There was a delay in extension and the new expected release is March 28th. If you're ready, do you want to release it first on mobile?
Infura requirement was not to release both at the same time, so we can check with them if it's ok to change the order. Proposing this just so extension doesn't block you if you're ready sooner. @sethkfman @omnat

[2022-03-10 16:06] cortisiko opened #3880 "Deep linking to the approval flow switches networks correctly but does not show approval modal"
**Describe the bug**
Basically If you deep link here: https://metamask.app.link/send/0x01BE23585060835E02B77ef475b0Cc51aA1e0709@4/approve?address=0x178e3e6c9f547A00E33150F7104427ea02cfc747&uint256=5e8

The network updates correctly but the approval modal does not appear. If you try interacting with the app nothing happens. You would need to kill the app and relaunch to start back interacting with

[2022-03-10 17:11] sethkfman commented on #3545
Ah, yeah. If it is going to be that long I think we should release it. I was just finishing QA this week.

Do we need to touch base with Infura about our QA testing?

WDYT? @omnat

[2022-03-10 18:49] omnat commented on #3157
@Cal-L Adding Translations to the acceptance criteria.
@rickycodes When do we send Blend the request for translation? After the PR is merged, but ~2 calendar days before release?

[2022-03-10 19:01] omnat commented on #3157
Also note Barbara made this clearer metrics event database for what's expected from events https://www.notion.so/Improve-token-detection-support-custom-networks-aka-TDF-v2-fb3ef7b7299c4ddb8e9481c2b22f1e87#a18322f077054792b50925b1bec02b3c
I think it matches your criteria, but surfacing it so you can refer to it when you get to metrics implementation.

[2022-03-10 21:22] #3305 closed

[2022-03-11 00:24] gantunesr commented on #2801
Dupe of #3722

[2022-03-11 00:24] #2801 closed

[2022-03-11 00:28] gantunesr commented on #2688
Fixed in #3685. Please check v4.2.0

[2022-03-11 00:28] #2688 closed

[2022-03-11 00:29] gantunesr commented on #2725
Hey @nithronium and @skyrover7, can you check v4.2.0 to verify if your issue is solved

[2022-03-11 00:30] gantunesr commented on #3150
WalletConnect update in #3685

[2022-03-11 00:30] #3150 closed

[2022-03-11 00:31] gantunesr commented on #3085
@nghminh163 can you verify if your issue is solved in v4.2.0

[2022-03-11 00:33] #3082 closed

[2022-03-11 01:01] gantunesr commented on #2045
Hey everyone, WalletConnect got an enhancement in the last release v4.2.0

Can you verify if this is still an issue??

 @intergalacticspacehighway @ValentinCPE @charleslukes @xrpdevs @VexyCats

[2022-03-11 01:04] gantunesr commented on #2020
@DevJxyden @tomw1808 is this still an issue in the latest release?

@mqklin this is fixed in #3756. It'll be released in v4.3

[2022-03-11 06:00] pashpashpash opened #3882 "Switch networks api works on chrome extension, but not on mobile wallet apps."
**Describe the bug**
Metamask ``wallet_switchEthereumChain`` api works on chrome extension, but not on mobile wallet apps.

**Screenshots**
This is my code:
[code]

**To Reproduce**
1. Go to ['this page'](https://redeemable.app/create) on the metamask wallet app on iOS.
2. Connect your wallet to the webapp. Make sure it is not on Polygon, so the switch network button appears after you log in.
3. O

[2022-03-11 06:07] pashpashpash opened #3883 "Unable to build app locally."
### **Description**
I am attempting to debug an experience on the mobile metamask wallet app for iPhone – the [metamask docs](https://docs.metamask.io/guide/mobile-best-practices.html#website-testing-and-debugging) state that I need to build the app locally by cloning + setting up this repo in xcode. I followed all of the steps, and even paid for an Apple developer subscription, but the xcode buil

[2022-03-11 06:45] djdabs commented on #3534
Still having this issue

Android 12
Google Pixel 6
Metamask App 4.2.2

[2022-03-11 10:03] zidianjian commented on #3879
自己写一个html5页面，然后用打开dapp接口，拉起metamask，并跳转到浏览器，打开你的页面，在页面里自己写授权功能，授权完拉起你的app

[2022-03-11 12:36] mickaphd commented on #1237
Any update from the team on this? Zerion (or even Green for BTC) on iOS can connect to a nano X via bluetooth. A shame that we still don’t have a « real » MetaMask or Frame app on those device.

[2022-03-11 13:13] holantonela commented on #3852
In mobile, we should reuse our address component. It will fallback the address petname if it exists. I made two options.

![transfer](https://user-images.githubusercontent.com/87079938/157872957-d60209ee-5ec3-499b-aaf8-e75e8d44e0e5.png)

cc @yanrong-chen @jakehaugen

[2022-03-11 14:22] Pablo4Coding commented on #3735
@matteocasonato Thank you for your provided answer. Thanks to that I am now able to connect my app to Metamask, fetch the wallet's address and sign transactions. So far, so good.

The problem comes when trying to implement an asymemetric/plubic key encryption system for an Authentication workflow. In order to do that, I need to sign a message (a nonce) that comes from the backend. The class `Walle

[2022-03-11 19:23] SaraCheikh opened #3884 "Navegation/Componentize IA Nav Redesign"

[2022-03-11 19:25] #3884 closed

[2022-03-11 20:53] gantunesr commented on #3870
Fixed in #3871

[2022-03-11 20:53] #3870 closed

[2022-03-11 20:58] sethkfman commented on #2723
@cortisiko When testing this make sure the custom allowance option is behaving as expected.

For reference: https://github.com/MetaMask/metamask-mobile/pull/3863

[2022-03-11 21:13] gantunesr commented on #3873
Hey @TauseefAhmaad, can you indicate the steps to reproduce the issue you are facing currently?

[2022-03-11 21:33] gantunesr commented on #3865
#3855 was reopened, closing this one

[2022-03-11 21:33] #3865 closed

[2022-03-11 21:52] sethkfman commented on #3852
@holantonela Where should the 'i' tool tip go?

[2022-03-11 22:24] gantunesr commented on #3661
Closing this issue for the moment @cortisiko

[2022-03-11 22:24] #3661 closed

[2022-03-11 22:33] gantunesr commented on #3552
Fixed in v4.2.0

[2022-03-11 22:33] #3552 closed

[2022-03-12 07:46] tomomoto opened #3886 "net::ERR_CLEARTEXT_NOT_PERMITTED"
No android permission for watching bscscan
net::ERR_CLEARTEXT_NOT_PERMITTED
![photo_2022-03-12_10-39-30](https://user-images.githubusercontent.com/11706519/158009062-70f0b48a-cc22-4fa8-a863-6f6ddadc12d1.jpg)

![photo_2022-03-12_10-39-30 (2)](https://user-images.githubusercontent.com/11706519/158009065-a0f50602-9e2f-4c23-b3e6-cb79d626dd8a.jpg)
![photo_2022-03-12_10-39-30 (3)](https://user-images.gi

[2022-03-12 16:38] bobwith2bees opened #3887 "eth_signTypedData request from WalletConnect v1 client fails silently"
**Describe the bug**
I have an app that leverages the WalletConnect protocol to pass a eth_signTypedData request to Metamask.  With the recent 4.1.1  Android and 4.2.2 IOS release that has some great improvements with WalletConnet (thank you)  but I am not seeing any response to my eth_signTypedData with Metamask wallets.

**Screenshots**
Tapping on the Sign button closes the pop up... but that's

[2022-03-12 17:18] andrepimenta commented on #3312
We are working on fixing this, but as a workaround you can use `if(switchError.code === 4902 || switchError?.data?.orginalError?.code === 4902)`

[2022-03-12 23:33] leon-do commented on #3678
@gantunesr and update on when it'll be on the android app store?

[2022-03-13 15:35] bobwith2bees commented on #3887
Example of the form being sent, if the issue happens to be data/format sensitive.

[code]

[2022-03-13 15:44] mcdeimon commented on #3678
Any update?

[2022-03-14 06:21] akshay-bhimani-pedalsup commented on #3735
Hey, @Pablo4Coding  I am also able to connect wallet and fetch wallet addresses but not able to sign transactions.

It would be better if you can give some hints, processes, or code snippet for signing transactions.

Thanks in advance.

[2022-03-14 09:55] TauseefAhmaad commented on #3873
Hey @gantunesr, please follow the steps to reproduce the bug
UseCase 1- Download from **Google PlayStore**
1- download the Metamask from the

https://user-images.githubusercontent.com/99240552/158148565-fdb9a4f6-cb6e-411a-af99-042c41760afd.mp4

 google play store. login in metamask
2- I am building the unity game using WebGL 3.0.
3- when I connect the unity game with MetaMask (downloaded from play

[2022-03-14 10:06] CocoJr opened #3889 "Release 4.2.2 on google store ?"
Hello,

Just want to know when the release 4.2.2 will be on the google play store ?
The current release (4.1) is bugged with android 12 so we really waiting for this release....

[2022-03-14 14:22] wachunei commented on #3889
Hello @CocoJr, it should be released to 100% percent of the users within the next 24 hours.

[2022-03-14 14:22] #3889 closed

[2022-03-14 14:52] #2050 closed

[2022-03-14 15:08] gantunesr commented on #2986
I'm closing this issue for the moment, please open a new issue if the bug persists.

[2022-03-14 15:41] #2723 closed

[2022-03-14 17:33] georgewrmarshall opened #3890 "Visual review for Dark Mode on Mobile - George"
### **Description**

Run through dark mode Receive, Buy, Sell, Swap flows and note down any colors, icons, images that need updating

### **Technical Details**

-  Run through dark mode flows
-  Screenshot any images and create issues for updates

### **Acceptance Criteria**

- Noted flows have video recordings attached to this issue

### **References**

-   [Slack thread](https://consensys.slack.

[2022-03-14 17:54] Cal-L commented on #3890
Related to https://github.com/MetaMask/design-tokens/issues/50

[2022-03-14 18:01] Cal-L opened #3891 "Joao's web3 dapp"
### **Description**

Building first dapp!

### **Technical Details**

-   Implementation details
-   Insight to what needs to be done
-   Etc.

### **Acceptance Criteria**

-   Check with product on metrics
-   Cases to satisfy
-   XYZ should work
-   Etc.

### **References**

-   References go here.
-   Issue numbers. Links.
-   Slack threads.
-   Etc.

[2022-03-15 07:56] CocoJr commented on #3889
Thanks @wachunei !

Got the upgrade, but the deeplink still not work on Android 12....

[2022-03-15 17:09] gantunesr commented on #3882
Dupe of #3312

[2022-03-15 17:09] #3882 closed

[2022-03-15 17:25] gantunesr commented on #3704
@akegaviar can you share the QR code you are using?

[2022-03-16 05:43] Cal-L opened #3895 "Fix crasher when sending ERC20 token"
### **Description**

Attempting to send ERC20 token crashes when landing on confirmation page

### **Technical Details**

-  Patch AssetsContractController single balance call to use upgraded web3 syntax

### **Acceptance Criteria**

-   Attempting to send ERC20 token should not crash when landing on confirmation page
- Additionally, this would also affect token detection, so let's make sure that

[2022-03-16 10:46] Cal-L opened #3897 "Fix Android build issue"
### **Description**

Android build currently fails when attempting to build locally

### **Technical Details**

-  Exclude meta dependencies in app/build.gradle

### **Acceptance Criteria**

-  Should be able to build Android locally + on Bitrise

### **References**

-  Convo - https://consensys.slack.com/archives/C02U025CVU4/p1647392777079409

[2022-03-16 18:23] rickycodes commented on #3799
hi @serenae-fansubs

m, 0 and 1 are all valid confusables. the library we're using to flag these is just pulling from a standard document: http://www.unicode.org/reports/tr39/.

here's the full list: https://unicode.org/Public/security/10.0.0/confusables.txt, you can see the m -> rn case.

![image](https://user-images.githubusercontent.com/675259/158660236-94a98c21-008f-4bb1-98a5-a5110c45058e.png)

[2022-03-17 00:46] AlexJupiter commented on #1237
I'm happy to report that hardware wallet support in general is actively in development on mobile. We'll be making some larger public announcements in the next month or so, but we're starting with the QR hardware wallets (e.g. Keystone) first and then quickly moving onto Ledger.  When there's a rough ETA for a Ledger integration I'll drop it in here.

[2022-03-17 10:02] uriee opened #3907 "Cannot get access to camera and mic."
When trying to establish a connection to the camera and microphone using the html5 command getUserMedia
it returns a  "NotAllowedError" error.

We ask for a media connection :
[code]
 this request is answered with a "NotAllowedError"

On other browsers, it returns the audio and video streams.

 - Device: pixle 6
 - OS: android 12
 - metamask  app version : 4.2.2 (834)

[2022-03-17 12:08] yunyun-ops commented on #3820
I hope I found the right issue.
i have the same problems and it happens every time, no exception, tested it 20 times.
I own Matic Tokens on both networks, nevertheless during the transaction the balance is zero, even though the wallet shows a positive balance. Screenshot attached
Found a YouTube video fix but not for iOS.

https://youtu.be/DRRyLmYh9ms

![B95880B8-C26E-49E7-A07E-9B5D7CC5B919](https

[2022-03-17 12:13] Frankdev012 commented on #3820
Talk to a Polygon Dev on the [**Live support page**](https://forummaticnetwork.org/) so that your issue can be looked into.

[2022-03-17 13:04] yunyun-ops commented on #3820
Please ban Frankdev02 !!!
FAKE LIVE SUPPORT PAGE
Asking for your seed phrase!!!

[2022-03-17 13:37] gantunesr commented on #3820
@yunyun-ops regarding to your issue, this only happens when you're interacting with a dapp or for any transaction?

Also, which version of the app are you using?

[2022-03-17 13:41] yunyun-ops commented on #3820
latest update of Metamask App
iOS 14.7.1
I only test opensea.io in metamask browser, it only happens there with Matic related transaction.
mall other (ETH) transaction work fine.

[2022-03-17 13:47] yunyun-ops commented on #3820
Could it be an opensea api issue?

 actually metamask behaves correctly.
 my wallet shows my Matic on polygon network (chainlist). So That’s ok.

 just until I request the transaction, in that moment the „transaction carrier“ does not recognize my Matic. See screenshot:
Wallet > 22 matic funds
Transaction > 0 matic available

[2022-03-17 13:49] #3897 closed

[2022-03-17 13:50] gantunesr commented on #3895
Fixed in #3896

[2022-03-17 13:50] #3895 closed

[2022-03-17 13:59] gantunesr commented on #3820
One tway to know if it's a dapp issue or a MetaMask issue is to try to perform the same action in MetaMask extension. If the behaviour is the same in both extension and mobile, then it could be a dapp issue.

[2022-03-17 15:24] #3665 closed

[2022-03-17 18:48] #3799 closed

[2022-03-17 18:57] gantunesr commented on #3907
Hey @urie, we are aware of this issue and it'll be addressed in a future development. I'll keep this issue updated.

[2022-03-17 19:50] gantunesr commented on #3887
Hey @bobwith2bees, what are the params you are sending for `eth_signTypedData`?

[2022-03-18 05:52] yuwiggin commented on #3448
Any progress on this issue? When will it be fixed?

[2022-03-18 12:26] davidm03 opened #3914 "WalletConnect - MetaMask redirects to the App Store before transaction can be authorised"
**Describe the bug**
When a user attempts to send a transaction from our dapp using WalletConnect and MetaMask - the MetaMask app will open, the transaction pop-up will appear with all the transaction details pre-filled from our dapp for a very brief period of time (maybe less than 1 second), then the MetaMask app will redirect/open the app store as if the user does not have MetaMask installed. If

[2022-03-18 12:35] tfalencar commented on #3546
Any updates on this?

[2022-03-18 14:33] bobwith2bees commented on #3887
@gantunesr

I am following this documentation for signedTyped Data that has the account address in the _first_ position:
https://docs.walletconnect.com/json-rpc-api-methods/ethereum#eth_signtypeddata

Here is the full encoded message just before encrypting it on the rpc.

[code]

Thanks for taking a look!

[2022-03-18 14:58] bschorchit commented on #3876
Related to https://github.com/MetaMask/metamask-mobile/issues/3619

[2022-03-18 15:29] pegaxyracing commented on #3820
My issue is not using opensea, I can no longer transact on the metamask using that acc.

Any idea?

Thank you.

[2022-03-18 15:36] gantunesr commented on #3847
Hey @quantass, can you share an example of the QR code you are trying to read?

[2022-03-18 16:30] tomomoto commented on #3886
Network name: Smart Chain
New RPC URL: https://bsc-dataseed.binance.org/
Network ID: 56
Symbol : BNB
URL block-explorer: https://bscscan.com

[2022-03-18 16:30] tomomoto commented on #3886
@gantunesr Answered above.

[2022-03-18 17:55] gaboesquivel opened #3920 "Metasmask user-agent"
What the recommend way to detect the user is using the Metamask built-in browser ?

I think user-agent is a good way.

`export const isMetamaskBrowser = navigator.userAgent.match(/(Metamask)/i)`

However looking at the source the it appears you are not currently adding a custom identifier to the user-agent string

https://github.com/MetaMask/metamask-mobile/blob/bcc22b37381fe59200fc560c42c4712b891

[2022-03-19 16:44] billkenney opened #3922 "Please add the auto-lock timer back"
The latest version of MetaMask no longer has the option to change the auto-lock timer, so MetaMask locks every time you background the app. Please add this option back to the iOS app.

[2022-03-19 22:28] brian-kryptomon commented on #3678
We are seemingly having a similar issue with Chainsafe on Android 12 - we use Chainsafe to issue a signing request and it opens a browser window with the metamask.app.link and when a player clicks metamask as the option to sign it opens metamask but no signing rquest occurs. This is working on Android 11 but not 12 both devices running metamask 4.2.2.

Would love an update or some idea on a fix fo

[2022-03-19 22:35] brian-kryptomon opened #3923 "Android 12 Chainsafe Signing Request Deep Link Not Working"
**Describe the bug**
On Android 12 running Metamask 4.2.2, we initiate a signing request from our Android app that uses this link:

https://metamask.app.link/dapp/chainsafe.github.io/game-web3wallet/?action=sign&message=1647728295

The browser asks what app we want to use for the activity and we click Metamask which opens the app but then there is no prompt for a signing.

We perform this same act

[2022-03-20 04:31] skyrover7 commented on #2725
@gantunesr thank you for the update!

I tried this on my Android phone.
* After clicking on the deeplink from the mobile website my phone asked which app to use to complete this activity.
* I chose Metamask
* Metamask opened up fine (both with authentication and if I had recently already authenticated)
* However at this point I would expect the inbuilt browser to open with the site from the deepli

[2022-03-20 14:16] BigMadCode commented on #2045
Is there still no fix to this? anyone?

[2022-03-20 15:09] BigMadCode commented on #2045
Is this a fix for the transaction issue? because all this seems to do is disconnect the account.

[2022-03-20 15:17] Doko-Demo-Doa commented on #3082
Not working. I have put Infura Project ID into `.js.env` but the error always show up. Did I miss something?

![image](https://user-images.githubusercontent.com/7723097/159169385-556a9423-6a03-442a-9e00-91b48fc20702.png)

[2022-03-20 20:16] un7c0rn commented on #2045
The code snippet is for disconnecting the account on mobile which lets your re-initiate the WalletConnect QR modal forcefully. The bullets above solve the transaction issue.

[2022-03-21 03:31] dragons3232 opened #3924 "Transaction was submitted successfully but it got stuck"
**Describe the bug**
Transaction was submitted successfully but it got stuck because of incorrect nonce

**To Reproduce**
_Steps to reproduce the behavior_
1. Add besu testnet network
2. Import existing accounts
3. Select an account with available balance
4. Click on Send button in Wallet overview screen
5. Select send between internal accounts
6. Select another account as target recipient
7. Inpu

[2022-03-21 12:19] davidm03 commented on #3914
Update:
The issue is only happening on iOS devices and appears to be caused by line 136 within the WalletConnectProvider.js file

[code]

Linking.openURL(url) launches MetaMask via the metamask.app.link URL and triggers the in-app browser, which is then redirecting the user to the app store - even if they have the app installed.

We've came up with a workaround for this issue and deployed a patch

[2022-03-21 15:14] gaboesquivel commented on #3812
https://github.com/MetaMask/metamask-mobile/issues/3920

[2022-03-21 16:13] cortisiko opened #3927 "[5.3] After submitting a txn then killing and relaunching the app a "Oops Something went wrong" toast appears"
**Describe the bug**
A toast message "Oops Something went wrong" appears after a user submits a transaction > kills or backgrounds the app > reopen/relaunch the app

**Screenshots**
see [here](http://recordit.co/Pqa7Uq34hv)

**To Reproduce**
switch to rinkeby or ropsten then go to the test dapp
tap on create a token.
submit transaction
while transaction is submitting send the app to the background

[2022-03-21 20:41] mickaphd commented on #1237
Many thanks @AlexJupiter. Being able to use MetaMask with a Ledger on iOS/iPadOS/Android for both L1 and L2 will be a game changer imo. Can't wait to test it.

[2022-03-21 21:20] tejvirmann commented on #3855
Hi everyone! Just wondering, was this issue fixed? Experiencing the same problem. Whenever I do:
https://metamask.app.link/dapp/example.com or (https://metamask.app.link/dapp/https://example.com) I am directed to the wallet, not the browser.

4.2.2 of metamask.
I have an iphone 12 pro with the latest update, using Xcode and Swift. Does it work on other devices?

[2022-03-21 21:39] gantunesr commented on #3149
I'm not sure if this is referring to a mobile or extension issue, the same comment is present in both repositories. I'm closing this issue for now, please open a new one with the relevant information for us to resolved it. Thank you.

[2022-03-21 21:40] #3149 closed

[2022-03-21 21:52] jamiely opened #3928 "Android: embedded browser (webview) does not handle deeplinks/universal links"
**Describe the bug**

On Android, the embedded browser does NOT open deep/universal links appropriately.

**To Reproduce**
_Steps to reproduce the behavior_
0. Setup your device with the Youtube app installed
1. Open this on Android: https://metamask.app.link/dapp/revolvingantiqueexecutables.jamiely3.repl.co/ (alternatively, open the MetaMask Mobile embedded browser and enter https://revolvinganti

[2022-03-21 22:33] gantunesr commented on #3136
I can't reproduce this crash. Closing this issue for the moment

[2022-03-21 22:33] #3136 closed

[2022-03-21 22:34] sethkfman commented on #3800
@geomad This ticket was updated to check against the same RPC url instead of the chain ID.

[2022-03-22 00:26] chrisleewilcox opened #3931 "iPhone: Settings > Security & Privacy > Unlock device: Forever spinning/loading screen when backing out of providing password"
**Describe the bug**
Forever spinning/loading screen is displayed when backing out of providing password.

**Screenshots**
https://recordit.co/rywn6GwmMl

**To Reproduce**

- Settings > Security & Privacy
- Tap Unlock with Touch ID? or Tap Unlock with device passcode?
- On the Enter your password screen
- Tap back "<"
- Forever spinning/loading image
- Tap back again to get to Settings

**Expected

[2022-03-22 01:53] gantunesr commented on #2869
Hey @chukhlov @Amazing1974, is this still an issue after 4.2?

[2022-03-22 01:56] gantunesr commented on #2745
Hey @buckyroid, I'll close this issue in favor of #3927. I'll be posting updates there. Thanks for reporting!

[2022-03-22 01:56] #2745 closed

[2022-03-22 05:09] akshay-bhimani-pedalsup commented on #3795
Same happened with me. I have closed metamask first then run my app and it worked.

[2022-03-22 05:16] akshay-bhimani-pedalsup commented on #3711
For that, you need to connect your dApp to metamsk first. After connection, you will get session information and from that, you can extract the address.

[2022-03-22 05:35] akshay-bhimani-pedalsup opened #3932 "Metamask should be closed after connection"
After successful connection of Metamask app, it is not closing app (metamask) and remains on metamask.

**Screenshots**

https://user-images.githubusercontent.com/96934759/159414651-2c2b16dd-e317-4253-a846-44b535514ba9.mp4

**Expected behavior**
It should close Metamask app itself after a successful connection.

[2022-03-22 06:39] n3m commented on #1966
Bumping this **_feature request_** again, since it would be a great addition to the MM Mobile Ecosystem for better adoption.

I'll try to get achieve a solution too in my own fork, but I'll probably fail. If I come up with something, I'll update here and create a PR

[2022-03-22 09:18] lightspect commented on #3415
Is the issue fixed in the current version 4.2.2? I still cannot get the connect prompt to show whenever I access Metamask from another app or from the web browser.

- Device: Pixel 4
- OS: Android 11
- App Version: 4.2.2

[2022-03-22 10:07] peter-yen opened #3933 "I am using walletConnect Swift, How to get error message after sending eth_sendTransaction to metamask is successful"
Hello, I am using wallet connect swift and have successfully sent eth_sendTransaction to metamask app, but how to monitor and view the errors of smart contracts or web3? Because I can only see that the contract exchange failed on etherscan, but can't see other error messages, how can I get the error message?  I did not receive and get any relevant callbacks.
Who should I monitor to get error messa

[2022-03-22 10:40] jcamilli commented on #3722
Hi @gantunesr, this is not fully fixed yet. Did you test on IOS? Verions 4.2.2 imports the token but not the token's picture on iOS.

[2022-03-22 10:48] jellesiderius commented on #3258
This still seems to be an issue. Can this please be looked at?

[2022-03-22 11:31] gantunesr commented on #3722
Hey @jcamilli, we're taking a look on why the images are missing, I'll be posting an update here in the following days

[2022-03-22 15:28] pvyhnal-generalbytes opened #3935 "Metamask generates incompatible QR codes"
Hi,
We've got users with different wallets scanning their QR codes in our system to receive funds.
Recently we got reports that users with Metamask cannot scan their QR codes.
The problematic part is the `@1` at the end of the content of the qr code.
From a quick look the `1` seems to be a network or chain id.
- Could you please confirm this? Does `1` mean main net and other values are different t

[2022-03-22 18:28] KAPLANDROID opened #3937 ""personal_sign" response verification failure"
We are developing android and ios dapps using WalletConnect library. After requesting wallet address, I call "personal_sign" method to verify user and I get the signature string. In order to validate the signature we use nethereum on server side. Here comes the problem. Until Metamask v4.1.1 this process was working without any problem but after v4.1.1 we can not verify the signature. If I run my

[2022-03-23 07:12] rollue commented on #3937
Our app is experiencing exactly the same error

[2022-03-23 11:39] KAPLANDROID commented on #3937
We found the reason and a solution to this error. When you request wallet address from the older versions of Metamask it returns the address using both lowercase and uppercase characters like "0x593A4e.....15A23aD3". In the newer versions it only returns in lowercase  like "0x593a4e.....15a23ad3". In  the signature verification result, you get wallet address with mixed  lowercase and uppercase cha

[2022-03-23 17:47] carrabre commented on #2013
Any update on this?

[2022-03-23 19:41] Cal-L opened #3944 "Fix SRP recovering in error boundary"
### **Description**

Fix SRP recovering in error boundary

### **Technical Details**

- Error boundary needs to be completely wrapped within ThemeContext

### **Acceptance Criteria**

- Accessing SRP from an error boundary from a Root crash should be available

### **References**

-  Slack chat - https://consensys.slack.com/archives/CBW7S9FSN/p1648053858513209

[2022-03-23 19:45] Cal-L opened #3945 "[FIX] Fix gas estimates in GasCarousel"
### **Description**

Fix gas estimates in GasCarousel

### **Technical Details**

- Wrap default gas limit in hexToBN to convert into Big Number

### **Acceptance Criteria**

- Gas estimate should show correctly on Gas Carousel screen. This screen shows the first time you access fiat onramp.

### **References**

-  Slack chat - https://consensys.slack.com/archives/CBW7S9FSN/p1648053858513209

[2022-03-23 22:31] #3890 closed

[2022-03-23 22:50] jacob-abe commented on #3855
It doesnt make a difference if you add https://metamask.app.link/dapp/example.com or https://metamask.app.link/dapp/https://example.com as the code just replaces the https:// and http:// after /dapp.

[2022-03-23 23:19] #3780 closed

[2022-03-23 23:25] epheph commented on #3780
👏👏👏👏

[2022-03-23 23:30] TtheBC01 commented on #3534
Can devs do something?

[2022-03-24 05:50] Mouradif opened #3949 "The latest update broke the browser on iOS"
**Describe the bug**

When trying to access the browser an error appears (twice):

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/4118825/159850989-89bcb920-5658-439d-b6e9-70af4d63b96b.png)

**To Reproduce**
_Steps to reproduce the behavior_
1. Updated to the latest version
2. Try to access the browser
3. See error

**Expected behavior**
The browser should open

**Smart

[2022-03-24 15:26] holantonela opened #3952 "[UI] Keystone - Connect Wallet Flow review"
REF
https://www.figma.com/file/7dE8BHjcoF7CYDfvKKz2Wx/MMM-%3C%3E-Keystone-UI-Review?node-id=0%3A1

General

- [x] Close icon is misaligned

Select Account

- [x] The input needs `8px` margin. Also, the default checkbox component does not span the whole height. Please use it.
- [x] We need `16px` of Y spacing between the list and the Prev/Next navigation buttons.
- [x] Typography should be in 16px

[2022-03-24 16:03] holantonela commented on #3952
Updated Table UI

![image](https://user-images.githubusercontent.com/87079938/159959097-67dfbd5e-b230-4f12-b7f1-6b60e3cac5fb.png)

[2022-03-24 16:11] paulrberg commented on #1226
Any updates on this? I'm getting an "Internal JSON-RPC error" only on MetaMask Mobile and I don't know what triggers it. Building the app myself is quite a chore ..

At least for iOS, a simple dev-channel app downloadable via TestFlight would go a long way!

[2022-03-24 19:45] vzvedran commented on #1237
Hi, this would be really great addition to metamask. Terra station wallet supports it as well, you might find this useful:

https://github.com/terra-money/station-mobile/commit/3ec15b9a620432dee47378f5b6e621d93780748a

[2022-03-24 22:00] ivan-prodanov commented on #1237
MetaMask is a lagging by a lot and the logic behind some roadmap decisions baffles me the least for *not* giving us a reason _why_ a certain decision is taken. For example - Ledger is the most popular hardware wallet. The decision is to go with Keystone first, after years of neglecting what the community wants.

Since ledger is the most popular hardware wallet especially utilizing MetaMask, let’s

[2022-03-24 22:20] omnat opened #3955 "Look into how to force upgrade the app"
cc @sethkfman @andrepimenta

[2022-03-24 22:28] Akatori-Design commented on #3693
@georgewrmarshall Is this still an active ticket?

[2022-03-24 22:43] Jaymz commented on #3949
Same thing happening on android. No way to use browser as the error appears immediately with no option to open/close/switch tabs or get rid of the error.

[2022-03-25 02:07] #3933 closed

[2022-03-25 11:57] dokocat opened #3957 "Support Walletconnect V2"
#Description
As a developer, I want to Walletconnect V2 support, so that connecting to my mobile dapp to metamask works better. Walletconnect has many improvements and stability enhancements as well.

[2022-03-25 14:25] yusufk commented on #3000
Are you sure that triggering payments works @Flawe ? I just tried: https://metamask.app.link/send/pay-0xd5838aD056eaD570111b99D465563854cd00e54A@1?value=1e15 and all it does is open the app.

[2022-03-25 15:32] georgewrmarshall commented on #3693
@Akatori-Design If the colors are done if figma it can be closed I'll create another issue for it's code implementation

[2022-03-25 17:06] #3498 closed

[2022-03-25 17:19] cortisiko commented on #3923
@brian-kryptomon This was fixed in v4.3.1. Can you confirm this on your end?

[2022-03-25 18:36] dash7ou commented on #3505
@gantunesr man, what is that URI for?
 `https://metamask.app.link/wc?uri=`

[2022-03-25 18:46] dash7ou commented on #3874
Hi man, it's not working with me, Can u explain to me what did u did ?

[2022-03-25 19:48] amilich commented on #1807
Same!

[2022-03-25 22:36] #1952 closed

[2022-03-25 23:11] brian-kryptomon commented on #3923
@cortisiko I just downloaded 4.3.1 and tested and it still doesn’t prompt for signing. I also asked the Chainsafe team and they tested the latest version as well and they confirmed it wasn’t fixed either.

[2022-03-26 14:07] brian-kryptomon commented on #3923
So I updated my MetaMask install via the play store and it wasn’t working but one of my engineers downloaded it from github via APK and it works. The version shows the same on both so not sure why the play store version isn’t working.

I think when it asked me to install the APK I had to clear the cache so is it possible that’s related?

Thanks.

Brian M. Bento

[2022-03-26 16:36] pieman64 commented on #1226
@paulrberg is that with iOS or Android and do you have debugging enabled in your dapp to see the error?

My dapp is fine with MetaMask on desktop and Android but recently stopped working with iOS.

[2022-03-26 19:01] basememara commented on #3855
It's really annoying.. however this seems like a platform issue. When I long-press the link in the mobile browser in iOS, one of the opens is to open MetaMask which does deep link into the in-app browser.

<img src="https://user-images.githubusercontent.com/892152/160253465-8b9e1fe9-30c8-40b4-a895-1a5512cfd3e0.png" width="300">

I'm not sure if MetaMask can do anything extra to make this without t

[2022-03-27 01:58] omnat commented on #1226
@gantunesr @andrepimenta thoughts?

[2022-03-27 07:18] mendelordanza opened #3959 "WalletConnect RPC methods not working with the new version 4.2.2"
**Describe the bug**
Seems like WalletConnect method calls is not being recognized by the new version 4.2.2 but works with version 4.0.1. Is this a bug on Metamask's end?

**To Reproduce**
_Steps to reproduce the behavior_
1. Use any method with WalletConnect
2. Redirect to the metamask mobile app
3. No transaction confirmation pop up showing

**Expected behavior**
Metamask should show the transac

[2022-03-27 08:35] amazingCoding commented on #3678
Android 12.0
metamask v4. 2.2(834)
This problem still exists

[2022-03-27 10:38] mobularay commented on #3847
Take-away from Mar 24 sprint review: @Fatxx @omnat @andrepimenta to discuss the logic on how chainID and QR code should interact with each other

[2022-03-27 10:44] mobularay commented on #1952
Closed as this is a very old ticket, no work associated with this particular ticket

[2022-03-27 21:09] fr0mpy commented on #1966
bump

[2022-03-28 05:00] pieman64 commented on #1226
Turned out to be the RPC for Polygon that was failing, now changed it to https://polygon-rpc.com/ and iOS is fine again now.

[2022-03-28 05:59] termux4me2 opened #3960 "sign up error"
can't sign up for a new account

[2022-03-28 14:17] sethkfman commented on #2347
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/MetaMask-Mobile-5f984938ddc0e4001d4b79cb/issues/MetaMask/metamask-mobile/2347?planning-poker) with ZenHub @blackdevelopa @cortisiko @owencraston

[2022-03-28 14:44] #3555 closed

[2022-03-28 14:46] andreahaku commented on #3923
@brian-kryptomon is this happening on Android only? Can you please tell me on which device/os version? Thanks.

[2022-03-28 21:01] epshtielsl opened #3965 "Deep link opening iOS AppStore even when MetaMask is installed"
**Describe the bug**
Deep links are opening up the App Store and prompting users to install MetaMask, even when the app is already installed on the devicie.

**Screenshots**
https://community.metamask.io/t/deeplink-opens-appstore-when-app-installed/18199/12

**To Reproduce**
Open any app that utilizes deep links to integrate with MetaMask, i.e. dapps that utilize WalletConnect.  When you attempt t

[2022-03-28 21:33] epshtielsl commented on #3914
The universal URL should still open MetaMask without prompting the AppStore.  Perhaps there is an issue with how they have configured the universal URL when opened with parameters (i.e. sending the sign personal message command via deep link).

[2022-03-29 02:39] brian-kryptomon commented on #3923
It was on Android 12 / galaxy tab s8 - uninstalling and using the apk from github fixes the issue. The play store version doesn’t seem to work.

Thanks.

Brian M. Bento

[2022-03-29 09:35] andreahaku commented on #3965
Thanks @epshtielsl for opening the issue. We are investigating it and trying to find the reason for this behaviour. Thanks again.

[2022-03-29 09:37] andreahaku commented on #3959
@mendelordanza did you try version 4.3.x? This should fix this issue. Please report if it fixes. Thanks

[2022-03-29 09:40] andreahaku commented on #3949
@Mouradif @Jaymz please update to the latest updated version available in stores and this should be fixed. Please report here if it doesn't. Thanks

[2022-03-29 09:44] andreahaku commented on #3928
Thanks @jamiely. For now this is an expected behaviour. Deep/universal links should be generally used outside the in-app browser to open MM mobile with it.
What's your use case?

[2022-03-29 09:45] andreahaku commented on #3923
@brian-kryptomon which version are you using that fixed the issue? Thanks

[2022-03-29 09:59] andreahaku commented on #3914
Thanks @davidm03 and @epshtielsl. I'll test the fix and eventually integrate in the app. Thanks again.

[2022-03-29 10:34] mendelordanza commented on #3959
Hi @andreahaku . I tried downloading version 4.3.1 but it still doesn't recognize the method calls. I'm expecting to have some kind of popup (image below) when I used SendTransaction with WalletConnect.

The screenshot below uses version 4.0.1

![Screenshot_20220329-183105_MetaMask.jpg](https://user-images.githubusercontent.com/47298049/160592829-faccf5ef-66cf-4594-9428-4f8533d4bce1.jpg)

[2022-03-29 11:17] Mouradif commented on #3949
Yep the last update fixes it :)

[2022-03-29 11:17] #3949 closed

[2022-03-29 11:46] R-Santev commented on #3258
I am also experiencing the same issue whit an HTTPS dApp.

[2022-03-29 14:13] jamiely commented on #3928
It is similar to the Twitter Blue PFP flow.

Twitter app -> MetaMask app to validate address -> back to Twitter app

I see that MetaMask recently updated so that WalletConnect connections will handoff back to the originating app, so I may be able to use that for my use case.

[2022-03-29 15:25] Trynight opened #3970 "I need to click a button to activate a JS function multiple times"
To activate a function from a button, I need to click several times before the metamask app identifies the JS link.

**To Reproduce*
You can try it yourself from the Metamask App (Android), by going to one of these 2 sites:

private.everbusd.finance
nft.xape.app

**Expected behavior**
It should work immediately after the first click, but you need to do more than one (4-5) before the button goes

*

[2022-03-29 15:45] tommasini commented on #3448
Hello, could you please update your app version? I am being able to enter Chinese characters.
@yuwiggin @yuhai-yang

[2022-03-29 16:03] gantunesr commented on #3960
Hey @termux4me2, can you provide more details to your issue?

[2022-03-29 16:05] gantunesr commented on #3937
Hey @rollue, did @KAPLANDROID's solution also worked for you?

[2022-03-29 16:10] Fatxx commented on #3927
FWIW: Only happens on Android

[2022-03-29 16:14] andreahaku commented on #3959
hi @mendelordanza, I've been able to replicate it on Android 12 and working on it. Just to confirm, you are able to connect with WC isn't it?

[2022-03-29 17:06] CHANDRAMA2 opened #3973 "Hi @prismspecs - do you have any screenshots of this behavior? Thanks!"
Hi @prismspecs - do you have any screenshots of this behavior? Thanks!

_Originally posted by @ryanml in https://github.com/MetaMask/metamask-extension/issues/12560#issuecomment-958015521_

[2022-03-29 17:13] gantunesr commented on #3932
Hey @akshay-bhimani-pedalsup, which version of the app are you using?

[2022-03-29 17:23] gantunesr commented on #3970
Hey @Trynight, can you check if this issue occurs in another mobile browsers?

[2022-03-29 18:44] Trynight commented on #3970
No, I didn't have try another mobile browsers... cause as i know metamask as estentions doesn't work on mobile on ff/chrome.

[2022-03-29 18:56] jakehaugen opened #3974 "Transaction detail closes without user action"
**Describe the bug**
After a delay (seems to be around 12 seconds) the transaction detail modal closes on its own. Confirmed on Mainnet and Ropsten.

**Screenshots**
https://user-images.githubusercontent.com/11967476/160684457-0797ab79-f339-42bd-a831-cc1d6d829706.MP4

**To Reproduce**
_Steps to reproduce the behavior_
1. Go to "Activity"
2. Open a transaction detail modal
3. Wait about 12 seconds

[2022-03-29 22:36] plasmacorral opened #3976 "Unable to cancel or speed up from Transaction detail"
**Describe the bug**
After submitting a transaction with unreasonably low gas, I am unable to cancel or speed up the transaction details.  These buttons DO open the cqncel/speed up modal from the activity view, but do not function after clicking to view transaction details.

https://recordit.co/1qZzSnrTV7

**Screenshots**
This screen is were the issue lies:
<img width="429" alt="Screen Shot 2022-0

[2022-03-29 23:09] mendelordanza commented on #3959
Yes. I was able to create a session with WC

[2022-03-29 23:46] cortisiko opened #3977 "[TypeError: undefined is not an object (evaluating 'identities[selectedAddress].name')]"
**Describe the bug**
When I remove an imported account I get `[TypeError: undefined is not an object (evaluating 'identities[selectedAddress].name')]`

**Screenshots**
see [recording](http://recordit.co/HUdKTZqYvG)

**To Reproduce**
1. Launch the app
2. import your wallet using your SRP
3. Open up the accounts drop down
4. select "import an account"
5. enter your private key
6. reopen the accounts

[2022-03-30 01:40] sleep9 opened #3978 "Feature Request: NFT proofs"
Usability problem is that metamask-mobile has no way to prove via a QR code that an NFT owner is in fact a verifiable owner.
Expected behaviour. Have metamask create a QR code of a signature with the data being the NFT contract address and
the tokenId. That way others can scan the QR code and check on chain (The NFT contract address) wether the signature is valid and that the NFT in question belon

[2022-03-30 05:09] fantasyrock2020 commented on #3735
Anyone can help me.
I got error when launch uri in connector.createSession
![image](https://user-images.githubusercontent.com/26890501/160755529-16526fa3-c3b1-4f87-bc05-e345cc6e2824.png)

And here is my AndroidManifest
![image](https://user-images.githubusercontent.com/26890501/160755622-7cdda06f-72e5-4a3e-9a36-0f9784727329.png)

[2022-03-30 06:50] TauseefAhmaad commented on #3873
Hey, @gantunesr Kindly guide me.

[2022-03-30 13:43] gantunesr commented on #3098
Hey @rjcpereira, is this still an issue for you in the last release? I'm not able to reproduce it

[2022-03-30 15:27] mobularay opened #3983 "When primary currency is fiat, “Insufficient funds” warning/error message is shown"
**Description**
When the primary currency is switched to fiat, “Insufficient funds” warning/error message is shown when trying to send funds out
- The screen then just hangs, and doesn’t let user proceed
- Reproduced consistently on BSC, Avalanche, Goerli (tbd whether this is an exhaustive list of networks)
- Doesn't break the core flow but doesn't allow user to send unless user change that fiat s

[2022-03-30 15:41] fzhwenzhou opened #3984 "RelayChain Website Not Work In MetaMask Built-in Browser"
**Bug Description**
The Relaychain website cannot be used in MetaMask Android APP, because I cannot connect to the wallet.

**Steps to Reproduce**
1. Open MetaMask Android Wallet
2. Click on the web3 browser
3. Visit the webpage
4. Click "Connect Wallet"

**Expected Behavior**
It should appear 4 options to connect the wallet. It seems well in mobile firefox or chrome, but not work on the built-in

[2022-03-30 16:36] georgewrmarshall opened #3985 "Update design-tokens to 1.5.1"
### **Description**

Update design tokens to 1.5.1 with background and overlay updates

### **Technical Details**

- update package.json and yarn.lock with @metamask/design-tokens v.1.5.1

### **Acceptance Criteria**

Should look like this

![Screen Shot 2022-03-29 at 4 32 51 PM](https://user-images.githubusercontent.com/8112138/160886206-30aec04f-3660-40eb-b02b-7d412419630b.png)

[2022-03-30 19:56] sethkfman commented on #3852
References for design:
- https://github.com/MetaMask/metamask-extension/pull/13683
- https://www.figma.com/file/eEFSq73S1NLEReogz1WTUG/ERC20-token-approval?node-id=634%3A221

[2022-03-30 20:38] sleep9 commented on #3185
I am looking for the same solution via a react-native app.

[2022-03-31 00:14] Pogggggggggggggg opened #3992 "So when I used my secret recovery phrase i didn’t get my account back I had the wallet but not the account and all my nats from mintable disapperead and I forgot my private key please fix this and please give me back my account: Pog_memes"
**Describe the bug**
_A clear and concise description of what the bug is_

**Screenshots**
_If applicable, add screenshots or links to help explain your problem_

**To Reproduce**
_Steps to reproduce the behavior_
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
_A clear and concise description of what you expected to happen_

**Smartphone (please comp

[2022-03-31 00:27] #3985 closed

[2022-03-31 08:12] pvyhnal-generalbytes commented on #3935
note I'm not sure what version is this screenshot from, is it possible it generates QR codes without the `@` in a newer version?

[2022-03-31 10:04] marekolszewski commented on #2332
I agree with the proposed "expected behavior" here. Feels like a pretty easy change to make too.

[2022-03-31 13:23] chrisleewilcox opened #3996 "v4.4.0 Mobile Core Flow Regression Testing"

[2022-03-31 13:31] chrisleewilcox opened #3998 "v4.4.0 RC: Send: Receiving wallet does not display received token transaction."

[2022-03-31 13:38] jahvi opened #3999 "Invalid amount error when initiating ERC20 token transfer from dApp"
**Describe the bug**
I'm getting an "Invalid amount" error when trying to initiate an ERC20 token transfer from my dapp. The "Confirm" button is then disabled and I can't continue to send the transaction.

This works fine on chrome using the browser extension, transfers also work in desktop and mobile if I initiate them from MM using the "Assets" tab.

**Screenshots**
![ss](https://user-images.git

[2022-03-31 16:49] thirdprize opened #4004 "Opening deep links to other apps fails on android"
**Problem**
Deep links to other apps don't work on android.

**Description**
I want my android app to get the users eth address from the Metamask mobile (MMM) app.  I have a simple 1 page dapp on my web site that runs some javascript to connect to an account and gets their eth address.

My app open this dapp via the MMM apps deeplinking ability. I can choose the account but cannot return to my app

[2022-03-31 20:25] jpcloureiro opened #4005 "Bug(SendFlow): input `To:` overwrites itself"
**Describe the bug**
Scope: `SendFlow`
`To:` input field behaves erratic when the user tries to write an ENS address.
It looks like it has a race condition on the input onChange event while queries for the ENS string.
As soon as the user types something like `ethan.n` the next characters get overwritten frequently. It is more noticeable when on slow connections.

Also tested on 4.1.1 and it is not

[2022-03-31 22:01] omnat opened #4006 "1559 v2"

[2022-03-31 22:11] MernDev0603 opened #4007 "Chinese letter is broke on Metamask."
**Describe the bug**
_A clear and concise description of what the bug is_

**Screenshots**
_If applicable, add screenshots or links to help explain your problem_

**To Reproduce**
_Steps to reproduce the behavior_
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
_A clear and concise description of what you expected to happen_

**Smartphone (please comp

[2022-03-31 22:18] MernDev0603 commented on #4007
fix

[2022-03-31 23:25] CryoWebToken commented on #1975
this still doesnt work! opens metamask fine on pc wont do anything but load on mobile (chrome)

Any ideas??

`import Web3 from "web3";

const initWeb3 = () => {
  return new Promise(async (resolve, reject) => {
    if (window.ethereum) {
      const web3 = new Web3(window.ethereum);
      try {
        await window.ethereum.enable();
        resolve(web3);
      } catch (error) {
        reject(er

[2022-04-01 00:05] chrisleewilcox opened #4009 "v4.4.0 RC: Swaps: Not all swap transactions are shown on Polygon Mainnet"
*Discovered during iOS regression; needs investigation on whether it occurs in Android regression*

Only the most recent swap transaction is showing for wallet that has done multiple swaps along with an old one with our test wallet.

- Given I have MATIC funds in my wallet on the Polygon Mainnet
- When I make three swap transactions from MATIC => WMATIC
- Then three swap transactions should displa

[2022-04-01 01:01] chrisleewilcox commented on #3996
When swapping from MATIC => WMATIC you will see the correct token icon for WMATIC during swap flow. After swap WMATIC token icon is not shown, instead blockicon on token list in wallet view.

[2022-04-01 01:45] chrisleewilcox commented on #3821
Completed.  Added cucumber, appium, and webdriverio to test automation framework.

[2022-04-01 01:46] chrisleewilcox opened #4010 "v4.4.0 RC: Deeplinks: Scan QR:"

[2022-04-01 03:38] gantunesr commented on #3876
I'm confused about what is the final UX decision over this issue. I can see that the issue recommends to show up to 5 decimals, but @bschorchit just referenced another issue where the user should be able to input a long number without rounding it up or truncating.

@jpcloureiro can you validate the final solution with @bschorchit and @omnat and post a comment in this issue? This should be consiste

[2022-04-01 03:41] gantunesr commented on #3619
This should be addressed in #3995

[2022-04-01 03:48] chrisleewilcox opened #4012 "v4.4.0 RC: Browser: Favorites not consistently showing on browser home, new browser tab"
*Discovered during iOS regression; needs investigation on whether it occurs in Android regression*

Favorites are not displayed consistently on the browser home page.  This is easily reproducible when switching networks and going to browser and open new tab but this also can be reproduced manually removing and adding browser tabs.

- Wallet view
- Ethereum Mainnet selected network
- Tap browser
-

[2022-04-01 04:19] omnat commented on #1975
which app version are you on @CryoWebToken

[2022-04-01 04:51] chrisleewilcox opened #4013 "v4.4.0 RC: Test Dapp issues"

[2022-04-01 04:58] chrisleewilcox commented on #4013
Send: legacy and EIP 1559 transactions are failing and once they fail they are no longer shown on the Transactions screen.

[2022-04-01 04:59] chrisleewilcox commented on #4013
Deploy Contract: transactions are failing and once they fail they are no longer shown on the Transactions screen.

[2022-04-01 08:13] jman-krafton opened #4017 "Can I interface Ethereum network via MetaMask-mobile in a mobile native application?"
### **Description**

We want to develop a mobile native application(Android/iOS) interfacing Ethereum network.
The interfaces are expected to cover full functionalities same as MetaMask chrome plugin(a web3 browser).
And, the application will be develop with C++(for Unreal Engine) and Java/Kotlin/ObjectiveC.

My question is...
Using MetaMask mobile, Can the mobile native application descripted abo

[2022-04-01 13:11] robotzero1 commented on #1226
Easiest way to see console.log and errors is to use Sentry.io. Sign up for a free account and add something like this before your closing head tag. See their docs and examples for how to do it 100% properly.

[code]

[2022-04-01 13:59] ipetrov22 opened #4019 "[Android] MetaMask provider not injected when using react router"
**Describe the bug**
The MetaMask provider is not correctly injected in the embedded browser when using react-router.
`window.ethereum` is available only on `/`.

If you navigate to another route (f.e. `/login`) using the router `window.ethereum` will still be available, **but if you refresh the page or directly open that route the provider won't be injected.**

The routes are wrapped in `<Browser

[2022-04-01 16:04] mobularay commented on #4010
@chrisleewilcox in speaking with @andrepimenta:

- Ethereum Mainnet: browser tab opens to blank page --> working for Andre; can you try again?
- we don't resolve ENS on other networks - this is the normal behaviour
-

[2022-04-01 16:07] mobularay commented on #4012
@chrisleewilcox , in discussing with @andrepimenta

- this conversation had happened in Dec 2021. A GH issue #3331 has already been opened
https://consensys.slack.com/archives/CBW7S9FSN/p1638810018460500 CC @sethkfman
- happening in prod

Not a release blocker

[2022-04-01 16:12] mobularay commented on #4009
@chrisleewilcox , in discussion with @andrepimenta

- does this happen in prod already? if so, then we need to prioritize this for next release
- is this a new bug not in prod? if so, this is considered a release blocker
- additional info to know: do all the submitted transactions show up on PolygonScan?

[2022-04-01 16:16] mobularay commented on #3998
@chrisleewilcox , in discussing with @andrepimenta

- it might take up to 10mins for the transactions to show up; also maybe change network so that the app refreshes (and updates the view)
- is this happening in prod (with 4.3.1)? If it is, then not a blocker

[2022-04-01 16:22] wachunei commented on #4009
is this a duplicate of https://github.com/MetaMask/metamask-mobile/issues/3820 ?

[2022-04-01 17:20] jpcloureiro commented on #3998
@mobularay from my tests I could reproduce the delay on receiving the tx on 4.4.0 & the 4.3.1 from App store.
Although the behaviour is not consistent on every try.

I did some debugging on the `Engine.js.refreshTransactionHistory` and saw the blockNumber not being updated for more than the `delta` enforces. Still needs more debugging

[2022-04-01 21:53] ryeshrimp commented on #3999
I too, have this same issue on my website. Same code as author but instead using web3js.

[2022-04-02 01:25] rami0r opened #4024 "@rami0r"

[2022-04-02 05:07] NitoBa commented on #3697
same here

[2022-04-02 20:36] ArtemKirilyuk opened #4025 "Deep links doesn't work correctly from an external app(telegram, facebook, tiktok ...) built-in browser"
**Describe the bug**
Same as [3534](https://github.com/MetaMask/metamask-mobile/issues/3534) and [3678](https://github.com/MetaMask/metamask-mobile/issues/3678), but I use an external app built-in browser (checked in telegram, facebook, tiktok in-app browsers) instead of using an external standalone browser (i.e. Chrome) as in the reported issues above.
The issue is not reproduced when using a sta

[2022-04-02 22:28] kirilyukkostia commented on #4025
I've got the same problem.

[2022-04-03 15:13] lax1n commented on #3999
Same issue here. Mobile only. Tried both ethers and web3 on fresh projects.

For some people it works to click on "estimated gas fee" amount and then clicking "save". It is then possible to confirm the transfer. So the issue might be related to that.

A second working "workaround" scenario:

1. Give myself allowance (call tokenContract.increaseAllowance(myself, amount)
2. Call tokenContract.transf

[2022-04-03 17:47] jahvi commented on #3999
@lax1n Thanks, I couldn't get the first workaround to work for me and I can't use the second one for my dapp use case unfortunately but hopefully it'll help point in the right direction.

[2022-04-03 20:03] Jens05 commented on #3735
Hi there! I want to connect metamask to my app to make sure users can buy items in a shop and make a transaction to my address. How can i achieve this?

[2022-04-03 20:37] cortisiko opened #4026 "test design system qa workflow"

[2022-04-03 20:47] #4026 closed

[2022-04-03 21:09] lax1n commented on #3999
I actually found a fix for this today.

You need to set `gas` and `gasPrice` for the transaction.

Transfer example:

[code]

You can get the `gas` from calling `eth_estimateGas`. See examples [here](https://www.quicknode.com/docs/ethereum/eth_estimateGas).

And the `gasPrice` from calling `eth_gasPrice`. Examples [here](https://www.quicknode.com/docs/ethereum/eth_gasPrice)

[2022-04-04 00:17] gantunesr commented on #4007
@MernDev0603 can you provide more information about your issue including screenshots and/or recordings?

[2022-04-04 01:10] smarteasy opened #4027 "approve screen problem"
In the general transaction screen, there is a part that receives and processes transaction information (gas price or eip1559 information) sent from the client, but that part is omitted in the approve screen.

[2022-04-04 03:58] gantunesr commented on #3998
Some notes about this bug,

- This is not a new bug, therefore, not a blocker.
- I would classify this a `Severity 3 - Low` and `Priority - Medium`
- This bug is not QR specific, after the transaction is submitted to the blockchain, it follows the same logic as all transactions in Rinkeby (This network uses the Etherscan API)
- This is likely a controllers bug, we need verify the logic in the foll

[2022-04-04 04:00] gantunesr commented on #4024
Closing this issue since it lacks a basic description for bug or feature request

[2022-04-04 04:00] #4024 closed

[2022-04-04 04:02] gantunesr commented on #4012
I'll close this issue @chrisleewilcox, as you mention its a dupe of https://github.com/MetaMask/metamask-mobile/issues/3331 and its not a trivial fix as Andre explained in that conversation

[2022-04-04 04:02] #4012 closed

[2022-04-04 04:05] #4009 closed

[2022-04-04 11:22] jahvi commented on #3999
I tried adding `maxFeePerGas`, `maxPriorityFeePerGas`, `gasPrice` and `gasLimit` params to the transfer method call but still got the same issue on mobile.

Ethers.js won't let me override `gas` directly.

[2022-04-04 14:22] AlexJupiter commented on #1237
@ivan-prodanov understanding your concerns here! Hopefully we'll have something exciting to report to you soon...

[2022-04-04 15:19] sethkfman opened #4028 "Enable new endpoint and advance screen"

[2022-04-04 15:19] #4028 closed

[2022-04-04 15:26] sethkfman opened #4029 "test"

[2022-04-04 16:54] andreahaku commented on #4010
Can confirm that the '.eth' address is only supported (and works for me) on Mainnet. On other networks we have `We couldn't resolve that ENS name` error

[2022-04-04 17:51] Cal-L opened #4032 "Remove hardcoded fill on SVG images"
### **Description**

Remove hardcoded fill on SVG images

### **Technical Details**

-  Remove hardcoded fill on SVG images

### **Acceptance Criteria**

-  SVGs should have transparent backgrounds, not filled with black

### **References**

- Example of wrong state - https://www.screencast.com/t/KoJhxm1YnB

[2022-04-04 19:49] jahvi commented on #3999
@BurasovArtem Thanks this workaround works for me as well.

[2022-04-04 20:44] #3976 closed

[2022-04-05 07:13] JessePinkman48 opened #4037 "> Currently multiple tests are coupled to a single fixture data file. This becomes a problem if we update a fixture data file (e.g. test/e2e/fixtures/imported-account/state.json) multiple tests are affected. At the time of writing the `imported-account` fixture file is used in 10+ different specs."
_Originally posted by @JessePinkman48 in https://github.com/MetaMask/metamask-extension/issues/14340#issuecomment-1088344750_

[2022-04-05 12:25] gantunesr commented on #3992
Due to the nature of your issue and the fact GitHub is a public forum, we kindly request you get in contact with our support team so that we can help you one-on-one without leaking personal information like your addresses and on-chain activity.

You can access all of our helpful articles and contact our team via https://metamask.zendesk.com/

[2022-04-05 12:25] #3992 closed

[2022-04-05 15:03] tommasini commented on #3448
I'm closing this issue, if this happens again, please open another issue.

[2022-04-05 15:03] #3448 closed

[2022-04-05 15:15] tommasini commented on #2794
Workaround for the scroll view works inside the react-native-modal lib found here: https://github.com/react-native-modal/react-native-modal/issues/236

[2022-04-05 15:17] #3945 closed

[2022-04-05 15:49] #3693 closed

[2022-04-05 18:00] georgewrmarshall opened #4040 "Technical refinement of MetaMask Connect(Permissions UI)"
### **Description**

Do technical refinement of MetaMask Connect(Permissions UI)

### **Technical Details**

-   Implementation details
-   Insight to what needs to be done
-   Etc.

### **Acceptance Criteria**

-   Check with product on metrics
-   Cases to satisfy
-   XYZ should work
-   Etc.

### **References**

-   References go here.
-   Issue numbers. Links.
-   Slack threads.
-   Etc.

[2022-04-05 22:22] pvyhnal-generalbytes commented on #3935
Thanks @Fatxx  for the link to the EIP
We will use `@1` for mainnet  (and also when no chain-id is present)
but I think we should not send mainnet coins to an address containing `@2`, `@3` etc, right?

[2022-04-05 23:52] cortisiko opened #4046 "Dark mode is not being respected in certain parts of the app on main branch"
1.  on the swaps view the asset pills are a darker shade compared to prod: https://www.screencast.com/t/OhUOEbIjy

2. going to the onramp (buy eth) flow, the pills are a darker shade compared to prod: https://www.screencast.com/t/vHocLsQNxv

3. The confirmation toast color is incorrect in darkmode. See prod: https://www.screencast.com/t/2n0AtuZE vs v4.4.1(866):   https://www.screencast.com/t/94f2L

[2022-04-05 23:56] #4046 closed

[2022-04-06 03:38] Sotatek-SonLai commented on #3999
I tried. it's work !!! tks....

[2022-04-06 03:40] johnson298 commented on #3999
I tried ! it's work. tks thằng em

[2022-04-06 05:59] xxxcrow opened #4048 "Deeplinks don't work with a VPN (Wireguard)"
**Describe the bug**
If I turn on wireguard VPN with a kernel module metamask's browser sign in stops working
So if I try to login to opensea it will ask me to choose a browser

**Screenshots**
Just imagine android is asking you to choose an app to open a link

**To Reproduce**
_Steps to reproduce the behavior_
1. Turn on the vpn
2. Kill the metamask app
3. Go to opensea, try to login
4. It asks t

[2022-04-06 07:16] akshay-bhimani-pedalsup commented on #3932
Metamask app version: 4.3.1

[2022-04-06 09:28] Fatxx commented on #3935
@pvyhnal-generalbytes yes you should try to prevent that as it may cause fund loss.

[2022-04-06 09:28] Fatxx commented on #3935
I will close this issue, please reopen it if you have further issues.

[2022-04-06 09:28] #3935 closed

[2022-04-06 09:41] Fatxx commented on #4037
Hey @JessePinkman48

I feel like this is not related with MM Mobile, I will close this for now.

[2022-04-06 09:41] #4037 closed

[2022-04-06 09:51] andreahaku commented on #4048
Hello, did you try opening OpenSea with the app browser instead? Does it work using the VPN that way?

Deeplink flow probably breaks somewhere (OpenSea? Branch.io, the deeplink service?) when using the VPN. But there's not much we can do if that's the case.

If the issue is only related to the VPN. If it's a general deep link issue please take a look at this PR (https://github.com/MetaMask/metamas

[2022-04-06 09:56] Snugface commented on #1154
I can confirm having the same issue. I believe I am using a 2021 build of the app that's not been updated for a while

[2022-04-06 10:35] pvyhnal-generalbytes commented on #3935
Thank you

[2022-04-06 10:38] trevormoo commented on #3780
Pls I have the same issue
Says"sent yourself WETH"
What do I do pls?
I sent from one wallet to another of my wallet

[2022-04-06 11:49] #3818 closed

[2022-04-06 12:21] epheph commented on #3780
Did it arrive in your other wallet? If so, there's no problem?

[2022-04-06 17:31] #4032 closed

[2022-04-06 17:31] #3944 closed

[2022-04-06 17:31] #3869 closed

[2022-04-06 17:31] #3716 closed

[2022-04-06 17:32] #3604 closed

[2022-04-06 17:44] #3855 closed

[2022-04-06 17:44] #3874 closed

[2022-04-06 17:44] #3923 closed

[2022-04-06 17:44] #4025 closed

[2022-04-06 17:44] #3959 closed

[2022-04-06 18:17] #4004 closed

[2022-04-07 04:11] gantunesr commented on #3382
I will close this issue for now, please open a new one you encounter this bug in the latest release

[2022-04-07 04:11] #3382 closed

[2022-04-07 04:14] gantunesr commented on #2869
I'll close this issue for the moment, please open a new one if this is still present in the latest release

[2022-04-07 04:14] #2869 closed

[2022-04-07 04:15] gantunesr commented on #3090
@emadhamad171 @DecodingByte can you verify if this is fixed in the latest release

[2022-04-07 04:18] gantunesr commented on #3306
I'll close this issue for the moment, please open a new one if you encounter it in the latest release

[2022-04-07 04:18] #3306 closed

[2022-04-07 04:29] gantunesr commented on #3960
I'll close this issue, please open a new one using our "Bug Report Template"

[2022-04-07 04:29] #3960 closed

[2022-04-07 05:02] 1hi1ok commented on #3960
662662

[2022-04-07 07:55] Snugface commented on #3417
I can confirm this still happens with MetaMask version 1.0.11 on Android 7

[2022-04-07 07:59] Snugface commented on #1154
Same issue with a fresh build version 1.0.11 from 2022 of MetaMask(from Google Play) as well.

[2022-04-08 00:13] rhamnett commented on #3978
Love this

[2022-04-08 16:36] Fatxx opened #4057 "Unknown currency crashes the app when formatting"
**Describe the bug**
Not all currencies are being properly formatted which further causes an application crash.

**Screenshots**
![image](https://user-images.githubusercontent.com/575479/162484345-508b1c50-8397-47b4-8cf0-b8c30658a4e7.png)

**To Reproduce**
TDB

**Expected behavior**
_A clear and concise description of what you expected to happen_

**Smartphone (please complete the following inform

[2022-04-08 17:20] AndreasPizsa opened #4058 "Use dedicated Faviconkit subdomain (`metamask.faviconkit.com`)"
### **Description**

Hi there! We’re super proud to be MetaMask’s choice for serving favicons! To ensure continuous uptime, we’ve given the project its own dedicated subdomain, `metamask.faviconkit.com`.

### **Technical Details**

-   Get icons from `https://metamask.faviconkit.com` instead of ~~`https://api.faviconkit.com`~~
-   Replace all occurences of ~~`https://api.faviconkit.com`~~ with `ht

[2022-04-08 20:07] Jens05 commented on #3735
Hi, how did you manage to sign transactions? I can't get it to work. Could you please help me out?

[2022-04-08 22:21] chrisleewilcox opened #4064 "Wallet > NFT's: NFT content/image is not displayed"
**Describe the bug**
Wallet > NFT's: NFT icon does not show image/content. Tapping on NFT icon displays NFT view but image/content is not shown.

**Screenshots**
![image.png](https://images.zenhubusercontent.com/61e996a8ddce71a33945b7a3/b09976af-5d09-48e0-aa70-028774b5ab82)
![image.png](https://images.zenhubusercontent.com/61e996a8ddce71a33945b7a3/c6ae6157-8fe9-4c6f-ac7c-03d8e14eb5c2)

Test Wallet

[2022-04-09 04:15] plasmacorral opened #4066 "Transaction history seems to disappear"
### **Description**

While exploring transaction history under activity, and without creating new transactions, recent transactions seem to disappear.  In the video attached, notice that the latest rinkeby transaction showing was nonce 67 at around 14 seconds in, around 1m20s nonce 67 no longer appears and instead nonce 54 is shown as the latest transaction.  All the while, the latest transaction

[2022-04-09 04:17] plasmacorral commented on #4066
This was observed on android 12 with a pixel 3a running build 871

[2022-04-09 15:23] kaanguru commented on #3489
I confirm that any  Content-Security-Policy breaks metamask connection and detection.

[2022-04-10 08:36] dynahpointch commented on #3331
WHEN THIS WILL BE FIXED OPEN NOW SINCE TWO YEARS ON REDDIT AND OTHER FORUMS ?
Please when this will bi addressed in the next 50 years and fixed ?

[2022-04-11 15:42] rafaelaugustos commented on #3965
any update?

[2022-04-11 16:42] rafaelaugustos commented on #3914
Any news about this problem?

[2022-04-11 18:23] ClementViricel commented on #3847
Same issue here. Up

[2022-04-12 02:39] zosim commented on #3965
yes also hoping for some news. Thanks.

[2022-04-12 04:19] Cal-L opened #4072 "2022 Q2 Mobile - Permission System Components"
### **Description**

This is the epic for the permission system feature.
https://www.figma.com/file/LRpO3E6SFcNs6KXCfolwyM/Permissions-System---Intermediate-Design?node-id=1399%3A19870&t=MfuswSUPnm2XCoZA-0

[2022-04-12 04:30] Cal-L opened #4073 "[PS] Componentize Text"
### **Description**

Componentize the `Text` component

### **Technical Details**
Suggestion
<img width="511" alt="image" src="https://user-images.githubusercontent.com/10508597/163513582-881bd73c-4fac-49d7-a155-aeb9f354ba76.png">

- [x] Create a `Text` component
- [x] Base style should use typography from theme
- [x] Should be able to pass `children` the same way we do with the native `Text` comp

[2022-04-12 04:34] Cal-L opened #4074 "[PS] Componentize Base Avatar"
### **Description**

Componentize the `BaseAvatar` component. This will be used as the root wrapper for `AccountAvatar`, `FavIconAvatar`, `NetworkAvatar`, and `TokenAvatar`.

### **Technical Details**

Suggestion
<img width="522" alt="image" src="https://user-images.githubusercontent.com/10508597/163513252-22828c22-2a63-4e4c-adee-7eb8e458fb21.png">

- [ ] Add component to Storybook
- [ ] Write uni

[2022-04-12 04:35] Cal-L opened #4075 "[PS] Componentize Account Avatar"
### **Description**

Componentize the `AccountAvatar` component. This should support both Jazzicons as well as Blockies.

### **Technical Details**

Suggestion
<img width="719" alt="image" src="https://user-images.githubusercontent.com/10508597/163512812-3684bb5b-f5f3-45a2-8f04-cdc6f30b1cbe.png">

- [ ] Add component to Storybook
- [ ] Write unit test

### **Acceptance Criteria**

- [ ] Can view c

[2022-04-12 04:35] Cal-L opened #4076 "[PS] Fav Icon"
### **Description**

Componentize the `FavIcon` component

### **Technical Details**

- [ ] Create a `FavIcon` component

### **Acceptance Criteria**

-  TBD

### **References**

-  https://www.notion.so/Q2-Extension-IA-Nav-Design-System-Related-Tickets-9e403db21485420e91d1a6c64a3d7065#2852bb6e949f4451a1084f7866b7c3b4

[2022-04-12 04:36] Cal-L opened #4077 "[PS] Componentize Network Avatar"
### **Description**

Componentize the `NetworkAvatar` component.

### **Technical Details**

Suggestion
<img width="660" alt="image" src="https://user-images.githubusercontent.com/10508597/163512617-084a768c-dc33-41e6-a5a3-371ece87a1fb.png">

- [ ] Add component to Storybook
- [ ] Write unit test

### **Acceptance Criteria**

- [ ] Can view component in Storybook
- [ ] Unit test passes

### **Refe

[2022-04-12 04:36] Cal-L opened #4078 "[PS] Componentize Token Avatar"
### **Description**

Componentize the `TokenAvatar` component.

### **Technical Details**

Suggestion
<img width="596" alt="image" src="https://user-images.githubusercontent.com/10508597/163512920-b98f7809-10c7-45b6-901f-1e9f76a57a72.png">

- [ ] Add component to Storybook
- [ ] Write unit test

### **Acceptance Criteria**

- [ ] Can view component in Storybook
- [ ] Unit test passes

### **Refere

[2022-04-12 04:37] Cal-L opened #4079 "[PS] Componentize Avatar Group"
### **Description**

Componentize the `StackedAvatars` component

### **Technical Details**

- [ ] Create a `StackedAvatars` component

### **Acceptance Criteria**

-  TBD

### **References**

-  https://www.notion.so/Q2-Extension-IA-Nav-Design-System-Related-Tickets-9e403db21485420e91d1a6c64a3d7065#2852bb6e949f4451a1084f7866b7c3b4

[2022-04-12 04:38] Cal-L opened #4080 "[PS] Componentize Badge"
### **Description**

Componentize the `Badge` component

### **Technical Details**

- [ ] Create a `Badge` component

### **Acceptance Criteria**

-  TBD

### **References**

-  https://www.notion.so/Q2-Extension-IA-Nav-Design-System-Related-Tickets-9e403db21485420e91d1a6c64a3d7065#2852bb6e949f4451a1084f7866b7c3b4

[2022-04-12 04:40] Cal-L opened #4081 "[PS] Componentize Base Button"
### **Description**

Componentize the `BaseButton` component

### **Technical Details**

- [ ] Create a `BaseButton` component

### **Acceptance Criteria**

-  TBD

### **References**

-  https://www.notion.so/Q2-Extension-IA-Nav-Design-System-Related-Tickets-9e403db21485420e91d1a6c64a3d7065#2852bb6e949f4451a1084f7866b7c3b4

[2022-04-12 04:40] Cal-L opened #4082 "[PS] Componentize Network Switcher"
### **Description**

Componentize the `NetworkSwitcher` component

### **Technical Details**

- [ ] Create a `NetworkSwitcher` component

### **Acceptance Criteria**

-  TBD

### **References**

-  https://www.notion.so/Q2-Extension-IA-Nav-Design-System-Related-Tickets-9e403db21485420e91d1a6c64a3d7065#2852bb6e949f4451a1084f7866b7c3b4

[2022-04-12 04:40] Cal-L opened #4083 "[PS] Componentize Cell Account"
### **Description**

Componentize the `CellAccount` component

### **Technical Details**

- [ ] Create a `CellAccount` component

### **Acceptance Criteria**

-  TBD

### **References**

-  This is the CellAccount component - https://www.figma.com/file/HKpPKij9V3TpsyMV1TpV7C/DS-Components?node-id=3180%3A13642

[2022-04-12 04:41] Cal-L opened #4084 "[PS] Componentize Tab Bar"
### **Description**

Componentize the `TabBar` component

### **Technical Details**

- [ ] Create a `TabBar` component

### **Acceptance Criteria**

-  TBD

### **References**

-  https://www.notion.so/Q2-Extension-IA-Nav-Design-System-Related-Tickets-9e403db21485420e91d1a6c64a3d7065#2852bb6e949f4451a1084f7866b7c3b4

[2022-04-12 04:41] Cal-L opened #4085 "[PS] Componentize Tab Bar Item"
### **Description**

Componentize the `TabBarItem` component

### **Technical Details**

- [ ] Create a `TabBarItem` component

### **Acceptance Criteria**

-  TBD

### **References**

-  https://www.notion.so/Q2-Extension-IA-Nav-Design-System-Related-Tickets-9e403db21485420e91d1a6c64a3d7065#2852bb6e949f4451a1084f7866b7c3b4

[2022-04-12 04:42] Cal-L opened #4086 "[PS] Componentize Link"
### **Description**

Componentize the `Link` component

### **Technical Details**

- [ ] Create a `Link` component

### **Acceptance Criteria**

-  TBD

### **References**

-  https://www.notion.so/Q2-Extension-IA-Nav-Design-System-Related-Tickets-9e403db21485420e91d1a6c64a3d7065#2852bb6e949f4451a1084f7866b7c3b4

[2022-04-12 04:43] Cal-L opened #4087 "[PS] Componentize Toast"
### **Description**

Componentize the `Toast` component

### **Technical Details**

- [ ] Create a `Toast` component
- [ ] Wrap Toast in a dark theme provider to always use dark theme colors

### **Acceptance Criteria**

-  TBD

### **References**

-  https://www.notion.so/Q2-Extension-IA-Nav-Design-System-Related-Tickets-9e403db21485420e91d1a6c64a3d7065#2852bb6e949f4451a1084f7866b7c3b4

[2022-04-12 09:40] CRASH-Tech commented on #1237
Need this!

[2022-04-12 14:56] #3666 closed

[2022-04-12 20:22] kylebakerio opened #4092 "Metamask Mishandles ENS ERC-721 Transfer, Submits Wrong Token ID"
**Describe the bug**
Attempting to transfer my ENS domain name (kyle3.eth) from one wallet to another, using Metamask Mobile's built-in ERC-721 transfer functionality, fails.
1. First, it just gives a cryptic "intrinsic gas too low" error. (This is almost certainly because the transaction being simulated is with faulty parameters, as we'll see later.)
2. Corrected the gas limit manually by looking

[2022-04-12 21:29] cortisiko opened #4093 "Fatal Error: TypeError: undefined is not an object (evaluating 'h.name')"
**Describe the bug**
If I have two or more contacts saved then attempt to remove a contact, the deleted contact still appears. Now tapping on the deleted contact yields `TypeError: undefined is not an object (evaluating 'h.name')`

**Screenshots**
See screenshot [here](https://www.screencast.com/t/2iASRIPVGqSF).
See recording [here](http://recordit.co/r64FYr0nGR)

**To Reproduce**
1. launch the ap

[2022-04-12 22:40] sethkfman opened #4094 "Mobile Transaction Insights"

[2022-04-12 22:55] cortisiko opened #4095 "The native currency on the import hardware wallet view defaults to ETH irrespective of network"
**Describe the bug**
 if i am on Binance smart chain then go through the connect hardware wallet flow the native currency shows ETH instead of BNB.

**Screenshots**
See [recording](http://recordit.co/XtJcQAoMiO)

**To Reproduce**
1. switch to a custom network (in my case I used BSC)
2. connect your hardware wallet
3. Notice next to your accounts the default native currency is ETH and not BNB

----

[2022-04-13 02:31] LiLvino opened #4097 "Mmsk action"
https://github.com/aragon/use-wallet/commit/d09c8f1d63c0daa72f183e912780472973a08621

[2022-04-13 02:33] LiLvino commented on #4097
Merging integrations of GitHub user activity

[2022-04-13 02:41] gantunesr commented on #1237
As Alex mentioned previously, at the moment we're working on integrating Keystone and Ledger to MetaMask Mobile. We'll drop more updates during the following weeks

[2022-04-13 02:42] gantunesr commented on #1713
Check #1237 for more updates about the Ledger integration

[2022-04-13 02:42] #1713 closed

[2022-04-13 02:50] gschoppe commented on #3511
Any update on this? The extension has an explicit option to show/hide test networks... could the mobile app get the same solution?

[2022-04-13 11:15] flow3d commented on #1154
Seems (intentional)[https://github.com/MetaMask/metamask-mobile/commit/0351a3e81c0a422485da80954ca1b4276700c04d]..? for the last 2 years.
Couldn't find the rationale though

[2022-04-13 22:26] aliveli186 commented on #3645
@gantunesr Partially fixed, works on Android but still doesn't work on iPhone.

[2022-04-13 23:49] chrisleewilcox commented on #2784
@Garito can you do steps 1 and 2 to this address so we have the correct type of NFT to test with: 0x4E99C54C06efbdB7DEdfE34e2Aeb84C0Ce19BE9E

I can't find an NFT with on a test network that has that used _beforeTokenTransfer.

[2022-04-14 07:45] pote2639 commented on #3820
it’s happening  on any chains on my MetaMask iOS app too, really annoying especially when you want to speed up your tx but you can’t since it doesn’t show the pending txs in my metamask history.

[2022-04-14 08:22] Cal-L opened #4104 "[PS] Componentize Favicon Avatar"
### **Description**

Componentize the `FaviconAvatar` component.

### **Technical Details**

Suggestion
<img width="701" alt="image" src="https://user-images.githubusercontent.com/10508597/163512986-ff6fcb7f-84f9-4b3b-b43e-1465d8bc2185.png">

- [ ] Add component to Storybook
- [ ] Write unit test

### **Acceptance Criteria**

- [ ] Can view component in Storybook
- [ ] Unit test passes

### **Refe

[2022-04-14 13:49] Snugface commented on #1154
@flow3d Likely due to some bug/feature that was there at the time. Perhaps it's due to be revisited now?

[2022-04-14 14:13] AlexHerman1 opened #4107 "[5.3] RangeError: currency is not a well-formed currency code"
**Description:**
App is mostly crashing when trying to perform actions such as swap/claim/stake on a dapp, the error does break the core flow of the app, but will go away upon closing and reopening the app.

This error is produced when fiat currency is set to some of the alternative currencies in the settings-->general-->currency conversion list.

**Screenshots**
![image](https://user-images.githu

[2022-04-14 17:19] tommasini commented on #4005
This issue its fixed on this [PR ](https://github.com/MetaMask/metamask-mobile/pull/4089)

[2022-04-15 13:34] aliveli186 commented on #3645
Why a simple issue can not be fixed in months?

[2022-04-15 16:23] aliveli186 opened #4109 "Outdated browser"
MetaMask version: 4.4.0 (896)
Android version: 7.1.1

The built in browser of MetaMask is outdated, can not display pages correctly.
An up to date web browser is needed.

Regards.

[2022-04-15 17:16] OR13 opened #4110 "Feature Request: Scan QR Code to Import NFT Address"
**Describe the usability problem**

Have to type in address manually when importing an NFT.

**Screenshots**

![Screenshot_20220415-121019](https://user-images.githubusercontent.com/8295856/163600598-bd63ba7c-ccdb-4aa2-9a71-ccc02968bee3.png)

**Expected behavior**

Similar to the "Send" feature, expect to be able to scan to import address.

---------------------------------------------------------

[2022-04-16 07:33] socathie commented on #2195
In the dapp I'm building, I also need a download function (I'm simply using `<a href="..." download="...">`) so that the user can save a copy of the data. Seems like metamask mobile browser has disabled functions related to download.

Is there a particular reason why metamask wouldn't allow user to right click on download something? That's quite annoying.

[2022-04-16 10:05] aliveli186 opened #4112 "Icons are not fitting the designated areas"
Both in Android and iPhone version website icons are not displayed properly. I think you're using circles to display icons but some icons are square and the circle is cropping the sides and strange looks appear.
You need to increase the size of your circle to cover the standard icons sizes or resize the icons to fit inside the circle but this will destroy the look of the icons so it's better to gr

[2022-04-18 17:13] Jens05 commented on #3927
I have the same bug. I submit a transaction and i get the same scenario as above. Furthermore, the transaction also **doesnt appear in activity**. Please let me know when this is fixed!

[2022-04-18 17:41] tommasini commented on #4112
Hello @aliveli186, thank you so much for reporting this issue, can you please share one print screen or a video showing this issue and the device that you are using

[2022-04-18 18:54] tommasini commented on #4109
Hello @aliveli186, thank you for reporting this issue! Could you please update the app and send more details about what are you visualizing, like a screenshot or a video.

[2022-04-18 19:04] dieastern opened #4120 "Add Virtual Keyboard"
**Describe the usability problem**

_Keyboard app telemetries may be a security issue of seed phrases. An app implemented virtual keybord should fix this._

[2022-04-18 20:21] aliveli186 commented on #4109
Here are some images taken from MetaMask internal browser and Opera browsers.

MetaMask:
![swap_mm](https://user-images.githubusercontent.com/8914034/163871174-d3c298ad-218f-411e-b3f4-f456f7e2140e.jpeg)

Opera:
![swap_opera](https://user-images.githubusercontent.com/8914034/163871228-0e90070e-df7f-4267-b78f-f02315f7b658.jpeg)

---

Also the login page in MetaMask is displayed bad. Plus the autocom

[2022-04-18 20:35] aliveli186 commented on #4112
![WhatsApp Image 2022-04-18 at 11 33 43 PM](https://user-images.githubusercontent.com/8914034/163873738-f13510a9-e520-4429-bd32-cacac3f27e20.jpeg)
![WhatsApp Image 2022-04-18 at 11 33 44 PM](https://user-images.githubusercontent.com/8914034/163873742-de53937c-69b7-4192-8a88-6c988aca2dbb.jpeg)

[2022-04-18 20:39] jonwigham commented on #2954
This still doesn't seem to be fixed - I'm trying to log into a Laravel app using MetaMask Mobile (v4.4.0 on Android) and have the same issues as above. It seems the browser just isn't storing the cookie and therefore not able to send it with the request, which then fails the csrf check.

Do and of the MM devs even look at these tasks? It seems insane that something like this can still be a bug. :/

[2022-04-19 13:37] jpcloureiro opened #4122 "SendFlow: Amount input value overflows horizontally"
**Description**
Amount input overflows horizontally with big numbers or with numbers with a lot of decimals . This impacts UX by making more difficult for the user to confirm the amount to transfer.

**Evidence**
Video - https://recordit.co/6Zwoa30aU3

**Technical Details**
Font size could change based on the input value length, the way [swaps does it](https://recordit.co/Tr1PAtpfqn).

[2022-04-19 13:38] jpcloureiro commented on #3876
After discussing this with @wachunei, @omnat and @bschorchit we concluded that it is better to leave all the decimals when clicking "use max" to minimize token dust. Although we can improve the UX by reducing font size as the number grows in length, same way as Swaps. Created #4122 to address that.

[2022-04-19 13:38] #3876 closed

[2022-04-19 17:35] Fatxx commented on #4107
Related with #4057

[2022-04-19 21:34] #2794 closed

[2022-04-20 02:53] LonnieKim opened #4130 "WalletConnect - personal_sign not working"
**Describe the bug**
I wrote android sample code to connect to MetaMask using WalletConnect protocol.
The connection works fine.
But `personal_sign` doesn't work.
Metamask is not responding.

I tested several wallets.
`personal_sign` is possible for TrustWallet, Argent, and D'cent.

Can you help with anything?

Sample Code: https://github.com/LonnieKim/WalletConnectExample
WalletConnectKit Library

[2022-04-20 03:49] LonnieKim commented on #4130
I found a point that could be a problem.
The Original wallet address is a mix of uppercase and lowercase letters.
But address received via WalletConnect are all lowercase.
Could this be related to the problem?

[2022-04-20 11:11] tommasini commented on #3880
@cortisiko In this last main branch update it's working fine with me, can you re-check if it keeps happening with you please?

[2022-04-20 13:52] fiberthemax commented on #4130
I have the same problem.

[2022-04-20 14:12] tommasini commented on #3928
@jamiely @andreahaku I will close this issue, please if you have any other thing that do you like to report, please open a new one!
Thank you!

[2022-04-20 15:26] tommasini commented on #4027
@smarteasy could you provide more information? If possible attach some screenshots with examples please!

[2022-04-20 18:26] tommasini commented on #2018
Hello, @DefiCake, I'm not capable of reproducing the issue, can you tell me if this continues to happen? Can you provide me with some more info on how to reproduce it?
Thank you so much!

[2022-04-20 18:27] rodriguesmvinicius commented on #2817
me too

but in metamask app i dont. I suppose its because the contract is on kovan network.

for what i have seen it will only work in rinkeby testnet i guess

[2022-04-20 19:10] thunderball1 commented on #3965
@andreahaku is there any update? this is happening for very long time

[2022-04-20 19:22] kakashigr commented on #3828
Same thing, only on android the browser doesn't seem to respect cookies and users can't log in

[2022-04-20 20:42] #2830 closed

[2022-04-20 21:09] gantunesr commented on #3569
Dupe of #3331

[2022-04-20 21:09] #3569 closed

[2022-04-21 00:46] joharzmn commented on #3914
@davidm03 The fix you mentioned above, How can we use that fix when using walletconnect?? I can't find `WalletConnectProvider.js` in walletConnect.

[2022-04-21 01:23] LonnieKim commented on #4130
@tommasini
Seems like a different problem.
The [issue](https://github.com/MetaMask/metamask-mobile/issues/3937) seems to be that `personal_sign` succeeded, but signature failed to verify.
My issue is that MetaMask doesn't respond for `personal_sign`.

[2022-04-21 02:43] LonnieKim commented on #4130
I tested the old versions.
4.1.1 : `connection` & `personal_sign` works fine.
4.2.2 & after : `connection` works. but `personal_sign` doesn't works.
Hope this helps you fix it.

[2022-04-21 10:41] tommasini commented on #3924
Hello @dragons3232, thank you for reporting this issue.
Could you please try to enable the toggle Customize transaction nonce in the burger menu -> Settings -> Advanced, and do a transaction customising the nonce for a lower value? Could you tell me if that solves the problem?

[2022-04-21 13:01] tommasini commented on #3886
I'm not being able to reproduce it, @tomomoto can you please update the app and see if the problem persists

[2022-04-21 13:41] jellearts opened #4139 "Deep links on Android fail due to browser application"
### **Description**

On several Android devices Metamask deep links seem not to be working. After clicking the deeplink the phone opens the link within the device default browser, which in turn redirects the action towards the Metamask App. Metamask will open, but no action is being performed.

The solution is to prevent the default browser within the Android device to open the deeplink first. The

[2022-04-21 14:07] tomomoto commented on #3886
@tommasini Seems that app is updated and last version since google play doesn't suggest me to update.
Ye, the problem is persist.

[2022-04-21 15:37] sethkfman commented on #4104
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/MetaMask-Mobile-5f984938ddc0e4001d4b79cb/issues/MetaMask/metamask-mobile/4104?planning-poker) with ZenHub @chrisleewilcox @cortisiko @blackdevelopa @jpcloureiro

[2022-04-21 15:38] sethkfman commented on #4075
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/MetaMask-Mobile-5f984938ddc0e4001d4b79cb/issues/MetaMask/metamask-mobile/4075?planning-poker) with ZenHub @blackdevelopa @chrisleewilcox @cortisiko @jpcloureiro

[2022-04-21 16:16] Fatxx commented on #3880
@chrisleewilcox can also re-check

[2022-04-21 16:50] Fatxx commented on #4057
Duplicated of #4107

[2022-04-21 16:50] #4057 closed

[2022-04-21 16:58] tommasini commented on #3886
@tomomoto I'm not being able to reproduce it, maybe there is one step that I'm missing, could you provide more information?

I'm with an Android 10 and you with one Android 11 it's the only difference I can see right now

Thank you!

[2022-04-21 17:57] tab00 commented on #2009
I had this issue over the past couple of days. In Android clearing the app's cache via Android settings worked. Clearing browser history in MetaMask app didn't work, which was quite annoying.

But how should it be done in iPhone? I need to remotely instruct a non-tech friend who uses iPhone but I don't have iPhone to try it myself.

[2022-04-21 18:05] tomomoto commented on #3886
@tommasini Does bscscan works for BNB network in android 10?
By the way, my POCO get the update and currently it has Android 12 SKQ1.21106.001
It doesn't work still

[2022-04-21 18:17] karacurt commented on #4139
I'm also having the same problem with Galaxy S20 and Metamask 4.4.0

[2022-04-21 18:46] tommasini commented on #3886
@tomomoto I'm only be able to help if you send more step details to the issues that you are finding, could you share them please?

[2022-04-21 18:48] tomomoto commented on #3886
@tommasini What kind of details do you need? All the steps are provided, but probably I've missed something.

[2022-04-21 18:52] tommasini commented on #3886
@tomomoto Can you send a video please stepping into the error or errors that you are having, also, the steps you did to add the Binance smart chain network or the information of that network again, please.

[2022-04-22 12:00] Djoni0603 opened #4141 "Ошибка связанная с достижением пределом хранилища"
![Screenshot_2022-04-22-14-50-49-038_io metamask](https://user-images.githubusercontent.com/39297880/164709818-d36f1b4b-b367-4561-be88-06a7957c8fad.jpg)
Здравствуйте, не могу войти в кошелек. Сид фраза утеряна чтоб удалить и по новой привязать старый кошелек, есть возможность убрать ошибку чтоб я смог войти в свой кошелек, или узнать свою сид фразу для восстановления, на этом кошельке весь мой тру

[2022-04-22 20:03] plasmacorral opened #4143 "Keystone UI- (8) “Sync Watch-Only Wallet” page doesn't display the “done” button without scrolling"
### **Description**

This is being copied from Gdocs to track as a post-integration update:
I am unable to see the done button on this page, without scrolling down.

I would suggest making the page smaller by possibly reducing font size, or removing/truncating text: “Scan the QR Code using Watch-only Wallet”

We could also shrink the QR code and then incorporate the functionality that is linked ou

[2022-04-22 20:05] plasmacorral opened #4144 "Keystone UI (9) Make “Watch-only” consistent in capitalization throughout the interface"
### **Description**
Sometimes the text appears “Watch-Only” and sometimes as “Watch-only”.  Specifically, on the “Sync Watch-Only Wallet” page, both variants can be observed.

### **Technical Details**

-   Implementation details
-   Insight to what needs to be done
-   Etc.

### **Acceptance Criteria**

-   Check with product on metrics
-   Cases to satisfy
-   XYZ should work
-   Etc.

### **Ref

[2022-04-22 20:32] plasmacorral opened #4145 "Keystone UI (30) Copy update for the “Sync Watch-Only Wallet” view"
### **Description**

Copy is currently focused on extenstion and reads:

1. Open MetaMask and click '**Connect Hardware Wallet**'
2. Select '**QR-based- HW Wallet**'
3. Click '**Scan QR Code**' button
4. Scan the QR code of wallet
5. Select account and unlock
6. Enter Account

While the integrations are similar, we need a way to distinguish between MetaMask extension and Mobile steps because they

[2022-04-22 21:10] wyaricky commented on #2162
I've been experiencing similar behavior but it triggers at least 8 times.

I listen for accountsChanged and have event put my code block in a conditional to check whether the new account matches the account stored in a state variable. Still results in 8+ triggers.

[2022-04-22 21:38] khalilalilahmar commented on #3927
Same issue after submitting transaction it's return the Txhash.
But that TxHash is no where to found  on etherScan
and where going back to metamask i see green toast transaction completed after 2 seconds a red toast show with Oops Something went wrong

[2022-04-23 07:43] liho00 commented on #3965
same issue, izit IOS or IOS version issues?

[2022-04-23 09:46] tab00 commented on #4109
On iPhone the MetaMask browser threw error "Object.hasOwn is not a function". Most web browsers already support `hasOwn`:

![image](https://user-images.githubusercontent.com/12715448/164889407-9529868c-20f7-4fb5-b549-8049e6fb0342.png)

Please update the browser in MetaMask.

[2022-04-23 09:49] tab00 commented on #1880
I've just experienced this issue yesterday. Is it meant to have been fixed already?

[2022-04-23 09:50] tab00 commented on #3524
Is this related to https://github.com/MetaMask/metamask-mobile/issues/1880 ?

My Dapp can't detect `approve` transaction rejection in MetaMask mobile app (but can in desktop browser extension).

[2022-04-24 00:50] JoelStrawn commented on #1975
I could not access window.ethereum on Android until I added the **.html** ext to the filename.  Hope this helps someone.

[2022-04-24 15:43] jieweili opened #4146 "yarn setup error"
run yarn setup error

x@ubuntu:~/metamask-mobile$ yarn setup
00h00m00s 0/0: : ERROR: [Errno 2] No such file or directory: 'setup'

[2022-04-25 03:52] gantunesr commented on #4120
Thanks for opening this issue @dieastern, I'm going to include this development in this sprint or the next one and update the issue.

[2022-04-25 09:07] tomomoto commented on #3886
@tommasini No, I wouldn't like to provide videos, all the steps are provided in the description.
The steps of the BSC - https://github.com/MetaMask/metamask-mobile/issues/3886#issuecomment-1072580936

[2022-04-25 12:36] andreahaku commented on #3965
Did you try the latest version of the app (5.0.x) as most of the deep links related issue should be solved with it. Please let me know. Thanks!

[2022-04-25 12:37] andreahaku commented on #4139
Please update to the latest version of the app (5.0.x) that should have solved issues related to deep links. Please report here if they still persist or if they are finally solved for you as well. Thanks!

[2022-04-25 12:38] andreahaku commented on #3914
Did you try the latest version of the app (5.0.x) as most of the deep links related issue should be solved with it. Please let me know. Thanks!